<template>
    <ul class="nav nav-tabs" id="myTab2" role="tablist">
        <li class="nav-item">
            <a aria-controls="element" aria-selected="true" class="nav-link active" data-toggle="tab"
               href="#element"
               id="element-tab" role="tab">Элемент</a>
        </li>
        <li class="nav-item">
            <a aria-controls="description" aria-selected="false" class="nav-link" data-toggle="tab" href="#preview"
               id="preview-tab" role="tab">Контент</a>
        </li>
        <li class="nav-item">
            <a aria-controls="seo" aria-selected="false" class="nav-link" data-toggle="tab" href="#seo"
               id="seo-tab" role="tab">SEO</a>
        </li>
    </ul>
</template>

<script>
    export default {
        name: "PageTabs"
    }
</script>

<style scoped>

</style>