<template>
    <div class="tab-content tab-bordered" id="myTab3Content">
        <div aria-labelledby="element-tab" class="tab-pane fade show active" id="element" role="tabpanel">
            <!-- Active field -->
            <div class="form-group row col-md-12">
                <span class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Активность:</span>
                <div class="custom-control custom-checkbox col-sm-12 col-md-7 d-flex align-self-center">
                    <input
                            :disabled="readOnly"
                            class="custom-control-input"
                            id="active"
                            name="active"
                            type="checkbox"
                            v-model="pageFields.active"
                    >
                    <label class="custom-control-label ml-lg-3" for="active"></label>
                </div>
            </div>

            <!-- Name Field -->
            <div class="form-group row col-md-12">
                <label
                        class="col-form-label text-md-right col-12 col-md-3 col-lg-3"
                        for="name"
                >Название страницы:</label>
                <div class="col-sm-12 col-md-7">
                    <input
                            :disabled="readOnly"
                            class="form-control"
                            id="name"
                            name="name"
                            required
                            type="text"
                            v-model="pageFields.name"
                    >
                </div>
            </div>

            <!-- Sort Field -->
            <div class="form-group row col-md-12">
                <label
                        class="col-form-label text-md-right col-12 col-md-3 col-lg-3"
                        for="sort"
                >Сортировка:</label>
                <div class="col-sm-12 col-md-7">
                    <input
                            :disabled="readOnly"
                            class="form-control"
                            id="sort"
                            name="sort"
                            required
                            type="text"
                            v-model="pageFields.sort"
                    >
                </div>
            </div>

        </div>
        <div aria-labelledby="preview-tab" class="tab-pane fade" id="preview" role="tabpanel">
            <!-- Content Text Field -->
            <div class="form-group row col-sm-12 col-lg-12">
                <label class="col-form-label text-md-right col-12 col-md-3" for="content">Контент:</label>
                <div class="col-sm-12 col-md-7">
                    <tinyeditor
                            :disabled="readOnly"
                            :init="{
                            height: 500,
                            menubar: true,
                            language: 'ru',
                            language_url: '/js/shared/tinymce/langs/ru.js',
                            plugins: [
                              'advlist autolink lists link image charmap print preview anchor',
                              'searchreplace visualblocks code fullscreen',
                              'insertdatetime media table paste code help wordcount'
                            ],
                            toolbar:
                              'undo redo | formatselect | bold italic backcolor | \
                              alignleft aligncenter alignright alignjustify | \
                              bullist numlist outdent indent | removeformat | help'
                        }"
                            :initialValue="pageFields.content"
                            api-key="vm8x2l577t817xnwid9del9j5veabkes1sei9565itthyam2"
                            class="form-control"
                            id="content"
                            name="content"
                            v-model="pageFields.content"
                    />
                </div>
            </div>
        </div>

        <div aria-labelledby="seo-tab" class="tab-pane fade" id="seo" role="tabpanel">
            <seo-fields :read-only="readOnly" :seo-fields="seoFields"/>
        </div>
    </div>

</template>

<script>
    import Editor from "@tinymce/tinymce-vue";
    import SeoFields from "../../Shared/Common/SeoFields";

    export default {
        name: "PageFields",
        props: {
            readOnly: {
                type: Boolean,
                required: true
            },
            editMode: {
                type: Boolean,
                required: true
            },
            pageFields: {
                type: Object,
                required: true
            },
            seoFields: {
                type: Object,
                required: true
            }
        },
        components: {
            "tinyeditor": Editor,
            SeoFields
        }
    }
</script>

<style scoped>

</style>
