<template>
    <div class="card">
        <div class="card-header">
            <h4>Статистика продаж</h4>
            <div class="card-header-action">
                <div class="btn-group">
                    <button
                        class="btn"
                        :class="{'btn-primary': weekTab }"
                        @click="getWeekData"
                    >Неделя</button>
                    <button
                        class="btn"
                        :class="{'btn-primary': mouthTab }"
                        @click="getMouthData"
                    >Месяц</button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <line-chart
                v-if="loaded"
                :chart-data="chartData"
                :height="100"
                :options="{ responsive: true, maintainAspectRatio: true }"
            />
            <loader-component v-else />
        </div>
    </div>
</template>

<script>
    import LineChart from "./LineChart";
    import LoaderComponent from "../Shared/Common/LoaderComponent";

    export default {
        components: {
            LineChart
        },
        data: () => ({
            loaded: false,
            chartData: null,
            weekTab: false,
            mouthTab: false
        }),
        mounted() {
            this.loaded = false;
            this.weekTab = true;

            try {
                axios.get('/admin/dashboard/json').then((response) => {
                    this.chartData = response.data;
                    this.loaded = true;
                });
            } catch (e) {
                console.error(e);
            }
        },
        methods: {
            realtimeData() {
                let socket = io(process.env.MIX_WEB_SOCKET_BASE_URL);

                socket.on("chartJs-event:Modules\\Dashboard\\Events\\ChartJsDataEvent", function (data) {
                    console.log('data from Redis', data);
                    this.charData = data.result;
                }.bind(this));

                try {
                    axios({
                        url: '/admin/dashboard/realtime',
                        method: 'GET',
                        params: { isRealtime: 'Y' }
                    }).then((response) => {
                        this.chartData = response.data;
                        this.loaded = true;
                    });
                } catch (e) {
                    console.error(e);
                }
            },
            getWeekData() {
                this.weekTab = true;
                this.mouthTab = false;
                console.log('get week data');
            },
            getMouthData() {
                this.weekTab = false;
                this.mouthTab = true;
                console.log('get mouth data');
            }
        }
    }
</script>

<style scoped>

</style>
