<template>
    <section class="section">
        <div class="section-header">
            <div class="section-header-back">
                <a class="btn btn-icon" href="/admin/pages/">
                    <i class="fas fa-arrow-left"></i>
                </a>
            </div>
            <h1>{{ pageTitle }}</h1>
        </div>

        <div class="section-body">
            <h2 class="section-title">{{ subTitle }}</h2>
            <p class="section-lead">
                {{ leadText }}
            </p>
            <div class="row">
                <div class="col-12 col-sm-6 col-lg-12" v-if="!loading">
                    <flash-messages-component :message="this.message" :typeError="this.typeError"/>
                    <form enctype="multipart/form-data" method="POST">
                        <div class="card">
                            <div class="card-header">
                                <h4>{{ subTitle }}</h4>
                            </div>
                            <div class="card-body">
                                <PageTabs/>
                                <PageFields
                                        :edit-mode="false"
                                        :page-fields="pageFields"
                                        :read-only="true"
                                        :seo-fields="seoFields"
                                />
                            </div>
                        </div>
                    </form>
                </div>
                <LoaderComponent v-else/>
            </div>
        </div>
    </section>
</template>

<script>
    import PageFields from "./Shared/PageFields";
    import PageTabs from "./Shared/PageTabs";
    import FlashMessage from "../Shared/Common/FlashMessage";
    import LoaderComponent from "../Shared/Common/LoaderComponent";

    export default {
        name: "PageShow",
        props: {
            pageTitle: {
                type: String,
                required: true
            },
            subTitle: {
                type: String,
                required: true
            },
            leadText: {
                type: String,
                required: true
            },
            pageId: {
                type: Number,
                required: true
            }
        },
        components: {
            PageFields,
            PageTabs,
            FlashMessage,
            LoaderComponent
        },
        mounted() {
            this.getRoles();
            this.getUsers();
            this.getPage(this.pageId);
        },
        data: () => ({
            pageFields: {
                id: null,
                active: true,
                name: '',
                sort: 500,
                content: ''
            },
            seoFields: {
                metaTitle: '',
                metaDescription: '',
                metaKeywords: '',
                canonicalUrl: '',
                googleTagManager: '',
                googleAnalytics: '',
                yandexDirectCode: '',
                yandexMetrika: ''
            },
            role: '',
            roles: [],
            errors: [],
            users: [],
            message: '',
            typeError: '',
            loading: false,
        }),
        methods: {
            getPage(id) {
                this.loading = true;
                this.$http.get(this.$parent.MakeUrl(`api/v1/pages/${id}`))
                    .then((res) => {
                        this.message = res.data.message;
                        this.typeError = 'success';
                        this.loading = false;
                        const getData = ({seo, ...pageFields}) => pageFields;
                        this.pageFields = getData(res.data.data);
                        this.seoFields = {...res.data.data.seo};
                    })
            },
            getUsers() {
                this.loading = true;
                this.$http.get(this.$parent.MakeUrl('api/v1/users'))
                    .then((res) => {
                        this.users = res.data.data;
                        this.loading = false;
                    })
                    .catch((err) => {
                        this.message = err.response.data.message;
                        this.type_error = 'error';
                        this.loading = false;
                    });
            },
            getRoles() {
                this.loading = true;
                this.$http.get(this.$parent.MakeUrl('admin/users/roles'))
                    .then((res) => {
                        this.roles = res.data;
                        this.loading = false;
                    }).catch((err) => {
                    this.message = err.response.data.message;
                    this.type_error = 'error';
                    this.loading = false;
                });
            }
        }
    }
</script>

<style scoped>

</style>
