<template>
    <section class="section">
        <div class="section-header">
            <h1>{{ pageTitle }}</h1>
            <div class="section-header-button" v-if="$can('create pages')">
                <a class="btn btn-primary" href="/admin/pages/create">Добавить</a>
            </div>
        </div>
        <div class="section-body">
            <h2 class="section-title">{{ subTitle }}</h2>
            <p class="section-lead">
                {{ leadText }}
            </p>
            <div class="row">
                <div class="col-md-12">
                    <flash-messages-component :message="this.message" :typeError="this.typeError"/>
                    <div class="card">
                        <div class="card-header">
                            <h4>{{ subTitle }}</h4>
                        </div>
                        <div class="card-body">
                            <DataTable
                                    :columns="columns"
                                    :on-delete="onDelete"
                                    :on-edit="onEdit"
                                    :on-show="onShow"
                                    :rows="rows"
                                    name-permission-delete="delete any pages"
                                    name-permission-edit="edit all pages"
                                    name-permission-show="view unpublished pages"
                                    v-if="!loading"
                            />
                            <LoaderComponent v-else/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    import DataTable from '../Shared/Common/DataTable';
    import LoaderComponent from "../Shared/Common/LoaderComponent";

    export default {
        name: "PageIndex",
        props: {
            pageTitle: {
                type: String,
                required: true
            },
            subTitle: {
                type: String,
                required: true
            },
            leadText: {
                type: String,
                required: true
            }
        },
        data: () => ({
            rows: [
                {
                    id: 1,
                    name: "",
                    uri: "",
                    sort: 10,
                    isActive: true
                }
            ],
            columns: [
                {
                    label: "ID",
                    name: "id",
                    sort: true,
                    uniqueId: true
                },
                {
                    label: "Название",
                    name: "name",
                    sort: true
                },
                {
                    label: "Символ.код",
                    name: "uri",
                    sort: false
                },
                {
                    label: "Активный",
                    name: "isActive",
                },
                {
                    label: "Действия",
                    name: "action",
                    slot_name: "action-slot"
                }
            ],
            loading: false,
            message: '',
            typeError: ''
        }),
        methods: {
            onShow(row) {
                // TODO Заменить позже на Vue-router
                location.href = `/admin/pages/${row.id}/`;
            },
            onEdit(row) {
                // TODO Заменить позже на Vue-router
                location.href = `/admin/pages/${row.id}/edit`;
            },
            onDelete(row) {
                this.$http.post(this.$parent.MakeUrl(`/api/v1/pages/${row.id}`), {
                    '_method': 'DELETE'
                }).then((res) => {
                    this.message = res.data.message;
                    this.typeError = 'success';

                })
            },
            getPages() {
                this.loading = true;
                this.$http.get(this.$parent.MakeUrl('api/v1/pages')).then(res => {
                    this.rows = res.data.data;
                    this.message = res.data.message;
                    this.typeError = 'success';
                    this.loading = false;
                }).catch((err) => {
                    this.message = err.data.message;
                    this.typeError = 'error';
                    this.loading = false;
                });
            }
        },
        beforeMount() {
            this.getPages();
        },
        components: {
            DataTable,
            LoaderComponent
        }
    }
</script>

<style>
    .input-group {
        position: relative;
        display: block !important;
        width: 100%;
    }
</style>
