<template>
    <section class="section">
        <div class="section-header">
            <div class="section-header-back">
                <a class="btn btn-icon" href="/admin/pages/">
                    <i class="fas fa-arrow-left"></i>
                </a>
            </div>
            <h1>{{ pageTitle }}</h1>
        </div>

        <div class="section-body">
            <h2 class="section-title">{{ subTitle }}</h2>
            <p class="section-lead">
                {{ leadText }}
            </p>
            <div class="row">
                <div class="col-12 col-sm-6 col-lg-12">
                    <flash-messages-component :message="this.message" :typeError="this.typeError"/>
                    <form enctype="multipart/form-data" method="POST">
                        <div class="card">
                            <div class="card-header">
                                <h4>{{ subTitle }}</h4>
                            </div>
                            <div class="card-body">
                                <PageTabs/>
                                <PageFields
                                        :edit-mode="false"
                                        :read-only="false"
                                        :page-fields="pageFields"
                                        :seo-fields="seoFields"
                                />
                            </div>
                            <div class="card-footer">
                                <!-- Submit Field -->
                                <div class="form-group row col-mb-12">
                                    <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3"></label>
                                    <div class="col-sm-4 col-md-4">
                                        <button
                                                :disabled="loading"
                                                @click.prevent="createPage"
                                                class="btn btn-primary"
                                                type="submit"
                                        >Создать
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    import PageFields from "./Shared/PageFields";
    import PageTabs from "./Shared/PageTabs";
    import FlashMessage from "../Shared/Common/FlashMessage";

    export default {
        name: "PageCreate",
        props: {
            pageTitle: {
                type: String,
                required: true
            },
            subTitle: {
                type: String,
                required: true
            },
            leadText: {
                type: String,
                required: true
            }
        },
        components: {
            PageFields,
            PageTabs,
            FlashMessage
        },
        mounted() {
            this.getRoles();
            this.getUsers();
        },
        data: () => ({
            pageFields: {
                active: 1,
                name: '',
                sort: 500,
                content: ''
            },
            seoFields: {
                metaTitle: '',
                metaDescription: '',
                metaKeywords: '',
                canonicalUri: '',
                googleTagManagerCode: '',
                googleAnalyticsCode: '',
                yandexDirectCode: '',
                yandexMetrikaCode: ''
            },
            role: '',
            roles: [],
            errors: [],
            users: [],
            message: '',
            typeError: '',
            loading: false,
        }),
        methods: {
            getUsers() {
                this.$http.get(this.$parent.MakeUrl('api/v1/users'))
                    .then((res) => {
                        this.users = res.data.data;
                    })
                    .catch((err) => {
                        this.message = err.response.data.message;
                        this.type_error = 'error';
                    });
            },
            getRoles() {
                this.$http.get(this.$parent.MakeUrl('admin/users/roles'))
                    .then((res) => {
                        this.roles = res.data;
                    }).catch((err) => {
                    this.message = err.response.data.message;
                    this.type_error = 'error';
                });
            },
            resetForm() {
                this.pageFields = {
                    active: true,
                    name: '',
                    sort: 500,
                    content: ''
                };
                this.seoFields = {
                    metaTitle: '',
                    metaDescription: '',
                    metaKeywords: '',
                    canonicalUri: '',
                    googleTagManagerCode: '',
                    googleAnalyticsCode: '',
                    yandexDirectCode: '',
                    yandexMetrikaCode: ''
                };
                this.errors = null;
                this.message = '';
            },
            createPage() {
                this.loading = true;
                let formData = new FormData();

                formData.append('active', this.pageFields.active);
                formData.append('name', this.pageFields.name);
                formData.append('sort', this.pageFields.sort);

                if (this.pageFields.content !== '') {
                    formData.append('content', this.pageFields.content);
                }

                // SEO Fields
                if (this.seoFields.metaTitle.length > 0) {
                    formData.append('title', this.seoFields.metaTitle);
                }

                if (this.seoFields.metaDescription.length > 0) {
                    formData.append('description', this.seoFields.metaDescription);
                }

                if (this.seoFields.metaKeywords.length > 0) {
                    formData.append('keywords', this.seoFields.metaKeywords);
                }

                if (this.seoFields.canonicalUri.length > 0) {
                    formData.append('canonical_url', this.seoFields.canonicalUri);
                }

                if (this.seoFields.googleTagManagerCode.length > 0) {
                    formData.append('google_tag_manager', this.seoFields.googleTagManagerCode);
                }

                if (this.seoFields.googleAnalyticsCode.length > 0) {
                    formData.append('google_analytics', this.seoFields.googleAnalyticsCode);
                }

                if (this.seoFields.yandexDirectCode.length > 0) {
                    formData.append('ya_direct', this.seoFields.yandexDirectCode);
                }

                if (this.seoFields.yandexMetrikaCode.length > 0) {
                    formData.append('ya_metrica', this.seoFields.yandexMetrikaCode);
                }

                this.$http.post(
                    this.$parent.MakeUrl('api/v1/pages'),
                    formData,
                    {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    })
                    .then((response) => {
                        this.loading = false;
                        this.resetForm();
                        this.message = response.data.message;
                        this.typeError = 'success';
                    })
                    .catch((err) => {
                        this.errors = err.response.data.errors;
                        this.loading = false;
                        this.message = err.response.data.message;
                        this.typeError = 'error';
                    });
            }
        }
    }
</script>

<style scoped>

</style>
