<template>
    <section class="section">
        <div class="section-header">
            <div class="section-header-back">
                <a href="/admin/coupon" class="btn btn-icon">
                    <i class="fas fa-arrow-left"></i>
                </a>
            </div>
            <h1>{{ this.pageTitle }}</h1>
        </div>

        <div class="section-body">
            <h2 class="section-title">{{ this.subTitle }}</h2>
            <p class="section-lead">
                {{ this.leadText }}
            </p>

            <div class="row">
                <div class="col-12 col-sm-6 col-lg-12">
                    <FlashMessage :message="message" :type-error="type_error"/>
                    <form enctype="multipart/form-data">
                        <div class="card">
                            <div class="card-header">
                                <h4>{{ this.subTitle }}</h4>
                            </div>
                            <CouponFields
                                :fields="fields"
                                :users="users"
                                :discounts="discounts"
                                :couponTypes="couponTypes"
                                :couponActivityTypes="periodActivities"
                                :read-only=false
                            />
                            <div class="card-footer">
                                <!-- Submit Field -->
                                <div class="form-group row col-mb-12">
                                    <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3"></label>
                                    <div class="col-sm-4 col-md-4">
                                        <button
                                            type="submit"
                                            class="btn btn-primary"
                                            @click.prevent="updateCoupon"
                                            :disabled="loading"
                                        >
                                            Обновить
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    import MaskedInput from 'vue-text-mask';
    import CouponFields from "./Shared/CouponFields";
    import FlashMessage from "../Shared/Common/FlashMessage";

    export default {
        props: {
            pageTitle: {
                type: String,
                required: true
            },
            subTitle: {
                type: String,
                required: true
            },
            leadText: {
                type: String,
                required: true
            },
            couponId: {
                type: String|Number,
                required: true
            }
        },
        data() {
            return {
                fields: {
                    is_active: true,
                    code: null,
                    type: null,
                    period_activity: null,
                    starts_at: null,
                    expires_at: null,
                    comments: null,
                    user_id: null,
                    discount_id: null,
                    max_uses_count: 0,
                    uses_user_count: 0,
                },
                role: '',
                roles: [],
                errors: [],
                message: '',
                type_error: '',
                loading: false,
                users: [],
                discounts: [],
                couponTypes: {},
                periodActivities: {}
            }
        },
        mounted() {
            this.getCouponFields();
            this.getRoles();
            this.getDiscounts();
            this.getUsers();
            this.getCouponTypes();
            this.getPeriodActivities();
        },
        methods: {
            getUsers() {
                this.$http.get(this.$parent.MakeUrl('api/v1/users'))
                    .then((res) => {
                        this.users = res.data.data;
                    })
                    .catch((err) => {
                        this.message = err.response.data.message;
                        this.type_error = 'error';
                    });
            },
            getDiscounts() {
                this.$http.get(this.$parent.MakeUrl('api/v1/discount'))
                    .then((res) => {
                        this.discounts = res.data.data;
                    })
                    .catch((err) => {
                        this.message = err.response.data.message;
                        this.type_error = 'error';
                    });
            },
            getRoles() {
                this.$http.get(this.$parent.MakeUrl('admin/users/roles'))
                    .then((res) => {
                        this.roles = res.data;
                    }).catch((err) => {
                    this.message = err.response.data.message;
                    this.type_error = 'error';
                });
            },
            getPeriodActivities() {
                this.$http.get(this.$parent.MakeUrl('api/v1/coupon/get/period_activities'))
                    .then((res) => {
                        this.periodActivities = res.data.data;
                    })
                    .catch((err) => {
                        this.message = err.response.data.message;
                        this.type_error = 'error';
                    });
            },
            getCouponTypes() {
                this.$http.get(this.$parent.MakeUrl('api/v1/coupon/get/types'))
                    .then((res) => {
                        this.couponTypes = res.data.data;
                    })
                    .catch((err) => {
                        this.message = err.response.data.message;
                        this.type_error = 'error';
                    });
            },
            getCouponFields() {
                this.loading = true;
                this.$http.get(this.$parent.MakeUrl(`api/v1/coupon/${this.couponId}`))
                    .then((res) => {
                        this.fields = {
                            ...res.data.data
                        };
                        this.loading = false;
                    })
                    .catch((err) => {
                        this.type_error = 'error';
                        this.message = err.response.data.message;
                })
            },
            resetForm() {
                this.fields = {
                    is_active: true,
                    code: null,
                    type: null,
                    period_activity: null,
                    starts_at: null,
                    expires_at: null,
                    comments: null,
                    user_id: null,
                    discount_id: null,
                    max_uses_count: 0,
                    uses_user_count: 0,
                }
            },
            updateCoupon() {
                this.errors = [];
                this.message = '';
                this.loading = true;

                let couponFields = {
                    comments: JSON.stringify(this.fields.comments),
                    ...this.fields,
                    _method: 'PATCH'
                };

                this.$http.patch(
                    this.$parent.MakeUrl(`api/v1/coupon/${this.couponId}`), {
                        couponFields
                    })
                    .then((res) => {
                        this.loading = false;
                        this.message = res.data.message;
                        this.type_error = 'success';

                    })
                    .catch((err) => {
                        this.errors = err.response.data.errors;
                        this.loading = false;
                        this.message = err.response.data.message;
                        this.type_error = 'error';
                    });
            }
        },
        components: {
            MaskedInput,
            CouponFields,
            FlashMessage
        }
    }
</script>
