<template>
    <table class="table" id="coupons-table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Купон</th>
            <th>Активен</th>
            <th>Действует с</th>
            <th>Действует по</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>

        <tr v-for="coupon in coupons" :key="coupon.id">
            <td>{{ coupon.id }}</td>
            <td>{{ coupon.code }}</td>
            <td>{{ coupon.is_active }}</td>
            <td>{{ coupon.starts_at }}</td>
            <td>{{ coupon.expires_at }}</td>
            <td class="text-center">
                <div class="btn-group" role="group" aria-label="CRUD операции">
                    <a
                        :href="'/admin/coupon/show/' + coupon.id"
                        class="btn btn-sm btn-success">
                        <i class="fa fa-eye"></i>
                    </a>
                    <a
                        :href="'/admin/coupon/edit/' + coupon.id"
                        class="btn btn-sm btn-primary">
                        <i class="fa fa-edit"></i>
                    </a>
                    <button
                        class="btn btn-sm btn-danger"
                        title="Удалить"
                    >
                        <i class="fa fa-trash"></i>
                    </button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</template>

<script>
    export default {
        props: {
            coupons: {
                type: Array,
                required: true
            }
        }
    }
</script>
