<template>
    <section class="section">
        <div class="section-header">
            <div class="section-header-back">
                <a :href="homeUrl" class="btn btn-icon">
                    <i class="fas fa-arrow-left"></i>
                </a>
            </div>
            <h1>{{ this.pageTitle }}</h1>
        </div>

        <div class="section-body">
            <h2 class="section-title">{{ this.subTitle }}</h2>
            <p class="section-lead">
                {{ this.leadText }}
            </p>

            <div class="row" v-if="!loading">
                <div class="col-12 col-sm-6 col-lg-12">
                    <FlashMessage :message="message" :type-error="type_error"/>
                    <form enctype="multipart/form-data">
                        <div class="card">
                            <div class="card-header">
                                <h4>{{ this.subTitle }}</h4>
                            </div>
                            <DiscountPortalFields
                                :fields="discountFields"
                                :roles="roles"
                                :products="products"
                                :discountTypes="discountTypes"
                                :discountAmountTypes="discountAmountTypes"
                                :discountPeriodActivities="discountPeriodActivities"
                                :couponFields="couponFields"
                                :couponTypes="couponTypes"
                                :couponPeriodActivities="couponPeriodActivities"
                                :read-only=true
                            />
                        </div>
                    </form>
                </div>
            </div>
            <LoaderComponent v-else />
        </div>
    </section>
</template>

<script>
    import MaskedInput from 'vue-text-mask';
    import DiscountPortalFields from "./Shared/DiscountPortalFields";
    import FlashMessage from "../../Shared/Common/FlashMessage";
    import LoaderComponent from "../../Shared/Common/LoaderComponent";

    export default {
        props: {
            pageTitle: {
                type: String,
                required: true
            },
            subTitle: {
                type: String,
                required: true
            },
            leadText: {
                type: String,
                required: true
            },
            discountId: {
                type: String,
                required: true
            }
        },
        data() {
            return {
                homeUrl: '/admin/discount',
                discountFields: {
                    name: null,
                    description: null,
                    selected_discountType: null,
                    amount: 0,
                    selected_discountAmountType: null,
                    selected_discountPeriodActivityType: null,
                    starts_at: null,
                    expires_at: null,
                    selected_roles: [],
                    selected_products: [],
                    save_coupon: false,
                    coupons: []
                },
                couponFields: {
                    is_active: true,
                    code: null,
                    selected_couponType: null,
                    selected_couponPeriodActivityType: null,
                    starts_at: null,
                    expires_at: null,
                    comments: null,
                    selected_discount: null,
                    max_uses_count: 0,
                },
                role: '',
                roles: [],
                errors: [],
                message: '',
                type_error: '',
                loading: false,
                users: [],
                products: [],
                discountTypes: {},
                discountAmountTypes: {},
                discountPeriodActivities: {},
                couponTypes: {},
                couponPeriodActivities: {}
            }
        },
        mounted() {
            this.getRoles();
            this.getProducts();
            this.getUsers();
            this.getDiscountAmountTypes();
            this.getDiscountTypes();
            this.getCouponTypes();
            this.getCouponPeriodActivities();
            this.getDiscountPeriodActivities();
            this.getDiscountFields(this.discountId);
        },
        methods: {
            getUsers() {
                this.loading = true;
                this.$http.get(this.$parent.MakeUrl('api/v1/users'))
                    .then((res) => {
                        this.users = res.data.data;
                        this.loading = false;
                    }).catch((err) => {
                    this.message = err.response.data.message;
                    this.loading = false;
                    this.type_error = 'error';
                });
            },
            getProducts() {
                this.loading = true;
                this.$http.get(this.$parent.MakeUrl('api/v1/products'))
                    .then((res) => {
                        this.products = res.data.data;
                        this.loading = false;
                    }).catch((err) => {
                    this.message = err.response.data.message;
                    this.loading = false;
                    this.type_error = 'error';
                });
            },
            getRoles() {
                this.loading = true;
                this.$http.get(this.$parent.MakeUrl('admin/users/roles')).then((res) => {
                    this.roles = res.data;
                    this.loading = false;
                }).catch((err) => {
                    this.message = err.response.data.message;
                    this.loading = false;
                    this.type_error = 'error';
                });
            },
            getDiscountTypes() {
                this.loading = true;
                this.$http.get(this.$parent.MakeUrl('api/v1/discount/get/types'))
                    .then((res) => {
                        this.discountTypes = res.data.data;
                        this.loading = false;
                    }).catch((err) => {
                    this.message = err.response.data.message;
                    this.loading = false;
                    this.type_error = 'error';
                });
            },
            getDiscountAmountTypes() {
                this.loading = true;
                this.$http.get(this.$parent.MakeUrl('api/v1/discount/get/discount-amount-types'))
                    .then((res) => {
                        this.discountAmountTypes = res.data.data;
                        this.loading = false;
                    }).catch((err) => {
                    this.message = err.response.data.message;
                    this.loading = false;
                    this.type_error = 'error';
                });
            },
            getDiscountPeriodActivities() {
                this.loading = true;
                this.$http.get(this.$parent.MakeUrl('api/v1/discount/get/discount-period-activities'))
                    .then((res) => {
                        this.discountPeriodActivities = res.data.data;
                        this.loading = false;
                    }).catch((err) => {
                    this.message = err.response.data.message;
                    this.loading = false;
                    this.type_error = 'error';
                });
            },
            getCouponPeriodActivities() {
                this.loading = true;
                this.$http.get(this.$parent.MakeUrl('api/v1/coupon/get/period_activities'))
                    .then((res) => {
                        this.couponPeriodActivities = res.data.data;
                        this.loading = false;
                    }).catch((err) => {
                    this.message = err.response.data.message;
                    this.loading = false;
                    this.type_error = 'error';
                });
            },
            getCouponTypes() {
                this.loading = true;
                this.$http.get(this.$parent.MakeUrl('api/v1/coupon/get/types'))
                    .then((res) => {
                        this.couponTypes = res.data.data;
                        this.loading = false;
                    }).catch((err) => {
                    this.message = err.response.data.message;
                    this.loading = false;
                    this.type_error = 'error';
                });
            },
            getDiscountFields(discountId) {
                this.loading = true;
                this.$http.get(this.$parent.MakeUrl(`api/v1/discount/${discountId}`))
                    .then((res) => {

                        let temp_roles = [];
                        for (let user of res.data.data.users) {
                            let { roles } = user;
                            temp_roles = [...roles ];
                        }

                        this.discountFields = {
                            selected_roles: temp_roles,
                            selected_products: [...res.data.data.products],
                            selected_discountPeriodActivityType: res.data.data.period_activity,
                            selected_discountType: res.data.data.type,
                            selected_discountAmountType: res.data.data.amount_type,
                            ...res.data.data
                        };
                        this.loading = false;
                    })
            }
        },
        components: {
            MaskedInput,
            DiscountPortalFields,
            FlashMessage,
            LoaderComponent
        }
    }
</script>
