<template>
    <section class="section">
        <div class="section-header">
            <div class="section-header-back">
                <a :href="homeUrl" class="btn btn-icon">
                    <i class="fas fa-arrow-left"></i>
                </a>
            </div>
            <h1>{{ this.pageTitle }}</h1>
        </div>

        <div class="section-body">
            <h2 class="section-title">{{ this.subTitle }}</h2>
            <p class="section-lead">
                {{ this.leadText }}
            </p>

            <div class="row">
                <div class="col-12 col-sm-6 col-lg-12">
                    <FlashMessage :message="message" :type-error="type_error"/>
                    <form enctype="multipart/form-data">
                        <div class="card">
                            <div class="card-header">
                                <h4>{{ this.subTitle }}</h4>
                            </div>
                            <DiscountPortalFields
                                :fields="discountFields"
                                :roles="roles"
                                :products="products"
                                :discountTypes="discountTypes"
                                :discountAmountTypes="discountAmountTypes"
                                :discountPeriodActivities="discountPeriodActivities"
                                :couponFields="couponFields"
                                :couponTypes="couponTypes"
                                :couponPeriodActivities="couponPeriodActivities"
                                :read-only=false
                            />
                            <div class="card-footer">
                                <!-- Submit Field -->
                                <div class="form-group row col-mb-12">
                                    <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3"></label>
                                    <div class="col-sm-4 col-md-4">
                                        <button
                                            type="submit"
                                            class="btn btn-primary"
                                            @click.prevent="createDiscount"
                                        >
                                            Добавить
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    import MaskedInput from 'vue-text-mask';
    import DiscountPortalFields from "./Shared/DiscountPortalFields";
    import FlashMessage from "../../Shared/Common/FlashMessage";

    export default {
        props: {
            pageTitle: {
                type: String,
                required: true
            },
            subTitle: {
                type: String,
                required: true
            },
            leadText: {
                type: String,
                required: true
            }
        },
        data: () => ({
            homeUrl: '/admin/discount',
            discountFields: {
                name: null,
                description: null,
                selected_discountType: null,
                amount: 0,
                selected_discountAmountType: null,
                selected_discountPeriodActivityType: null,
                starts_at: null,
                expires_at: null,
                selected_roles: [],
                selected_offers: [],
                save_coupon: false,
                coupons: []
            },
            couponFields: {
                is_active: true,
                code: null,
                selected_couponType: null,
                selected_couponPeriodActivityType: null,
                starts_at: null,
                expires_at: null,
                comments: null,
                selected_discount: null,
                max_uses_count: 0,
            },
            role: '',
            roles: [],
            errors: [],
            message: '',
            type_error: '',
            loading: false,
            users: [],
            products: [],
            discountTypes: {},
            discountAmountTypes: {},
            discountPeriodActivities: {},
            couponTypes: {},
            couponPeriodActivities: {}
        }),
        mounted() {
            this.getRoles();
            this.getProducts();
            this.getUsers();
            this.getDiscountAmountTypes();
            this.getDiscountTypes();
            this.getCouponTypes();
            this.getCouponPeriodActivities();
            this.getDiscountPeriodActivities();
        },
        methods: {
            getUsers() {
                this.$http.get(this.$parent.MakeUrl('api/v1/users'))
                    .then((res) => {
                        this.users = res.data.data;
                    })
            },
            getProducts() {
                this.loading = true;
                this.$http.get(this.$parent.MakeUrl('api/v1/products'))
                    .then((res) => {
                        this.products = res.data.data;
                        this.loading = false;
                    }).catch((err) => {
                    this.message = err.response.data.message;
                    this.loading = false;
                    this.type_error = 'error';
                });
            },
            getRoles() {
                this.$http.get(this.$parent.MakeUrl('admin/users/roles')).then((res) => {
                    this.roles = res.data;
                }).catch((err) => {
                    this.message = 'Что-то пошло не так';
                });
            },
            getDiscountTypes() {
                this.$http.get(this.$parent.MakeUrl('api/v1/discount/get/types'))
                    .then((res) => {
                        this.discountTypes = res.data.data;
                    })
            },
            getDiscountAmountTypes() {
                this.$http.get(this.$parent.MakeUrl('api/v1/discount/get/discount-amount-types'))
                    .then((res) => {
                        this.discountAmountTypes = res.data.data;
                    })
            },
            getDiscountPeriodActivities() {
                this.$http.get(this.$parent.MakeUrl('api/v1/discount/get/discount-period-activities'))
                    .then((res) => {
                        this.discountPeriodActivities = res.data.data;
                    })
            },
            getCouponPeriodActivities() {
                this.$http.get(this.$parent.MakeUrl('api/v1/coupon/get/period_activities'))
                    .then((res) => {
                        this.couponPeriodActivities = res.data.data;
                    })
            },
            getCouponTypes() {
                this.$http.get(this.$parent.MakeUrl('api/v1/coupon/get/types'))
                    .then((res) => {
                        this.couponTypes = res.data.data;
                    })
            },
            resetForm() {
                this.discountFields = {
                    name: null,
                    description: null,
                    discountType: [],
                    amount: 0,
                    discountAmountType: [],
                    selected_roles: [],
                    selected_products: [],
                    starts_at: null,
                    expires_at: null,
                    save_coupon: false,
                    coupons: []
                }
            },
            createDiscount() {

                this.errors = [];
                this.message = '';
                this.loading = true;

                let requestData = {...this.discountFields};

                if (this.discountFields.save_coupon) {
                    requestData = {...this.discountFields, ...this.couponFields}
                }

                this.$http.post(
                    this.$parent.MakeUrl('api/v1/discount'),
                    {
                        discountFields: this.discountFields,
                        couponFields: this.couponFields
                    })
                    .then((res) => {
                        this.loading = false;
                        //this.resetForm();
                        this.message = res.data.message;
                        this.type_error = 'success';
                    }).catch((err) => {
                    this.errors = err.response.data.errors;
                    this.loading = false;
                    this.type_error = 'error';
                    this.message = err.response.data.message;
                });
            }
        },
        components: {
            MaskedInput,
            DiscountPortalFields,
            FlashMessage
        }
    }
</script>
