<template>
  <nav class="navbar navbar-expand-lg main-navbar">
    <Search />
    <Notifications />
  </nav>
</template>

<script>
  import Search from './Search';
  import Notifications from '../Notification/Notifications';
  export default {
    name: "Navbar",
    components: {
      Search,
      Notifications
    }
  }
</script>

<style scoped>

</style>
