<template>
    <aside id="sidebar-wrapper">
        <div class="sidebar-brand">
            <router-link
                exact
                tag="a"
                :to="{ name: 'home' }"
            >
                ВПалитре
            </router-link>
        </div>
        <div class="sidebar-brand sidebar-brand-sm">
            <router-link
                :to="{ name: 'home'}">ВП
            </router-link>
        </div>
        <ul class="sidebar-menu">
            <li class="menu-header">Панель управления</li>
            <li>
                <router-link
                    tag="a"
                    exact
                    class="nav-link"
                    active-class="active"
                    :to="{ name: 'home' }"
                >
                    <i class="fa fa-columns"></i>
                    <span>Панель управления</span>
                </router-link>
            </li>

            <li class="menu-header">Пользователи</li>
            <li>
                <router-link
                    tag="a"
                    exact
                    active-class="active"
                    class="nav-link"
                    to="/admin/users"
                >
                    <i class="fa fa-users"></i>
                    <span>Пользователи</span>
                </router-link>
            </li>
            <li>
                <router-link
                    tag="a"
                    exact
                    active-class="active"
                    class="nav-link"
                    to="/admin/users/subscribers"
                >
                    <i class="fa fa-user-plus"></i>
                    <span>Подписчики</span>
                </router-link>
            </li>
            <li>
                <router-link
                    tag="a"
                    exact
                    class="nav-link"
                    active-class="active"
                    to="/admin/users/partners"
                >
                    <i class="fa fa-handshake"></i>
                    <span>Партнёры</span>
                </router-link>
            </li>

            <li class="menu-header">Магазин</li>
            <li>
                <router-link
                    tag="a"
                    exact
                    active-class="active"
                    class="nav-link"
                    to="/admin/shop/products"
                >
                    <i class="fa fa-people-carry"></i>
                    <span>Товары</span>
                </router-link>
            </li>
            <li>
                <router-link
                    tag="a"
                    exact
                    active-class="active"
                    class="nav-link"
                    to="/admin/shop/orders"
                >
                    <i class="fa fa-shopping-basket"></i>
                    <span>Заказы</span>
                </router-link>
            </li>
            <li>
                <router-link
                    tag="a"
                    exact
                    active-class="active"
                    class="nav-link"
                    to="/admin/shop/reviews"
                >
                    <i class="fa fa-star-half-alt"></i>
                    <span>Отзывы</span>
                </router-link>
            </li>
            <li class="menu-header">Контент</li>
            <li>
                <router-link
                    tag="a"
                    exact
                    active-class="active"
                    class="nav-link"
                    to="/admin/content/news"
                >
                    <i class="fa fa-newspaper"></i>
                    <span>Новости</span>
                </router-link>
            </li>
            <li>
                <router-link
                    tag="a"
                    exact
                    active-class="active"
                    class="nav-link"
                    to="/admin/content/stocks"
                >
                    <i class="fa fa-percent"></i>
                    <span>Акции</span>
                </router-link>
            </li>
            <li>
                <router-link
                    tag="a"
                    exact
                    active-class="active"
                    class="nav-link"
                    to="/admin/content/sliders"
                >
                    <i class="fa fa-images"></i>
                    <span>Слайдер</span></router-link>
            </li>
            <li>
                <router-link
                    tag="a"
                    exact
                    active-class="active"
                    class="nav-link"
                    to="/admin/content/media"
                >
                    <i class="fa fa-image"></i>
                    <span>Медиабиблиотека</span>
                </router-link>
            </li>
            <li>
                <router-link
                    tag="a"
                    exact
                    active-class="active"
                    class="nav-link"
                    to="/admin/content/faqs"
                >
                    <i class="fa fa-question-circle"></i>
                    <span>Вопросы и ответы</span>
                </router-link>
            </li>
            <li class="menu-header">Реклама</li>
            <li>
                <router-link
                    tag="a"
                    exact
                    active-class="active"
                    class="nav-link"
                    to="/admin/finance/ads"
                >
                    <i class="fa fa-bullhorn"></i>
                    <span>Управление ставками</span>
                </router-link>
            </li>
            <li>
                <router-link
                    tag="a"
                    exact
                    active-link="active"
                    class="nav-link"
                    to="/admin/finance"
                >
                    <i class="fa fa-chart-line"></i>
                    <span>Финансы</span>
                </router-link>
            </li>
            <li class="menu-header">Настройки</li>
            <li>
                <router-link
                    tag="a"
                    exact
                    active-class="active"
                    class="nav-link"
                    to="/admin/settings"
                >
                    <i class="fa fa-cogs"></i>
                    <span>Настройки</span>
                </router-link>
            </li>
        </ul>
    </aside>


</template>

<script>

    export default {
        name: "Sidebar",
        components: {},
        data() {
            return {}
        }
    }
</script>

<style scoped>

</style>
