<template>
    <section class="section">
        <div class="section-header">
            <div class="section-header-back">
                <a :href="homeUrl" class="btn btn-icon">
                    <i class="fas fa-arrow-left"></i>
                </a>
            </div>
            <h1>{{ this.pageTitle }}</h1>
        </div>

        <div class="section-body">
            <h2 class="section-title">{{ this.subTitle }}</h2>
            <p class="section-lead">
                {{ this.leadText }}
            </p>

            <div class="row" v-if="!loading">
                <div class="col-12 col-sm-6 col-lg-12">
                    <FlashMessage :message="message" :type-error="type_error"/>
                    <form enctype="multipart/form-data">
                        <div class="card">
                            <div class="card-header">
                                <h4>{{ this.subTitle }}</h4>
                            </div>
                            <DiscountPartnerFields
                                :fields="discountFields"
                                :roles="roles"
                                :offers="offers"
                                :discountTypes="discountTypes"
                                :discountAmountTypes="discountAmountTypes"
                                :discountPeriodActivities="discountPeriodActivities"
                                :couponFields="couponFields"
                                :couponTypes="couponTypes"
                                :couponPeriodActivities="couponPeriodActivities"
                                :read-only=false
                            />
                            <div class="card-footer">
                                <!-- Submit Field -->
                                <div class="form-group row col-mb-12">
                                    <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3"></label>
                                    <div class="col-sm-4 col-md-4">
                                        <button
                                            type="submit"
                                            class="btn btn-primary"
                                            @click.prevent="updateDiscount(discountId)"
                                        >
                                            Обновить
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <LoaderComponent v-else />
        </div>
    </section>
</template>

<script>
    import MaskedInput from 'vue-text-mask';
    import DiscountPartnerFields from "./Shared/DiscountPartnerFields";
    import FlashMessage from "../../Shared/Common/FlashMessage";
    import LoaderComponent from "../../Shared/Common/LoaderComponent";

    export default {
        props: {
            pageTitle: {
                type: String,
                required: true
            },
            subTitle: {
                type: String,
                required: true
            },
            leadText: {
                type: String,
                required: true
            },
            discountId: {
                type: String,
                required: true
            }
        },
        data() {
            return {
                homeUrl: '/admin/discount',
                discountFields: {
                    name: null,
                    description: null,
                    selected_discountType: null,
                    amount: 0,
                    selected_discountAmountType: null,
                    selected_discountPeriodActivityType: null,
                    starts_at: null,
                    expires_at: null,
                    selected_roles: [],
                    selected_offers: [],
                    save_coupon: false,
                    coupons: []
                },
                couponFields: {
                    is_active: true,
                    code: null,
                    selected_couponType: null,
                    selected_couponPeriodActivityType: null,
                    starts_at: null,
                    expires_at: null,
                    comments: null,
                    selected_discount: null,
                    max_uses_count: 0,
                },
                role: '',
                roles: [],
                errors: [],
                message: '',
                type_error: '',
                loading: false,
                users: [],
                offers: [],
                discountTypes: {},
                discountAmountTypes: {},
                discountPeriodActivities: {},
                couponTypes: {},
                couponPeriodActivities: {}
            }
        },
        mounted() {
            this.getRoles();
            this.getOffers();
            this.getUsers();
            this.getDiscountAmountTypes();
            this.getDiscountTypes();
            this.getCouponTypes();
            this.getCouponPeriodActivities();
            this.getDiscountPeriodActivities();
            this.getDiscountFields(this.discountId);
        },
        methods: {
            getUsers() {
                this.loading = true;
                this.$http.get(this.$parent.MakeUrl('api/v1/users'))
                    .then((res) => {
                        this.users = res.data.data;
                        this.loading = false;
                    }).catch((err) => {
                    this.message = err.response.data.message;
                    this.loading = false;
                    this.type_error = 'error';
                });
            },
            getOffers() {
                let _self = this;
                this.$http.get(this.$parent.MakeUrl('api/v1/partnerOffers'))
                    .then((res) => {
                        this.offers = res.data.data;
                        _.forEach(this.offers, function (item, key) {
                            _self.$http.get(_self.$parent.MakeUrl(`api/v1/products/${item.productId}`))
                                .then((res) => {
                                    console.log(res.data.data);
                                    _self.offers[key]['name'] = res.data.data.name;
                                })
                        })
                    })
                    .catch((err) => {
                        this.errors = err.data.data;
                    })
                console.log(this.offers);
            },
            getRoles() {
                this.loading = true;
                this.$http.get(this.$parent.MakeUrl('admin/users/roles')).then((res) => {
                    this.roles = res.data;
                    this.loading = false;
                }).catch((err) => {
                    this.message = err.response.data.message;
                    this.loading = false;
                    this.type_error = 'error';
                });
            },
            getDiscountTypes() {
                this.loading = true;
                this.$http.get(this.$parent.MakeUrl('api/v1/discount/get/types'))
                    .then((res) => {
                        this.discountTypes = res.data.data;
                        this.loading = false;
                    }).catch((err) => {
                    this.message = err.response.data.message;
                    this.loading = false;
                    this.type_error = 'error';
                });
            },
            getDiscountAmountTypes() {
                this.loading = true;
                this.$http.get(this.$parent.MakeUrl('api/v1/discount/get/discount-amount-types'))
                    .then((res) => {
                        this.discountAmountTypes = res.data.data;
                        this.loading = false;
                    }).catch((err) => {
                    this.message = err.response.data.message;
                    this.loading = false;
                    this.type_error = 'error';
                });
            },
            getDiscountPeriodActivities() {
                this.loading = true;
                this.$http.get(this.$parent.MakeUrl('api/v1/discount/get/discount-period-activities'))
                    .then((res) => {
                        this.discountPeriodActivities = res.data.data;
                        this.loading = false;
                    }).catch((err) => {
                    this.message = err.response.data.message;
                    this.loading = false;
                    this.type_error = 'error';
                });
            },
            getCouponPeriodActivities() {
                this.loading = true;
                this.$http.get(this.$parent.MakeUrl('api/v1/coupon/get/period_activities'))
                    .then((res) => {
                        this.couponPeriodActivities = res.data.data;
                        this.loading = false;
                    }).catch((err) => {
                    this.message = err.response.data.message;
                    this.loading = false;
                    this.type_error = 'error';
                });
            },
            getCouponTypes() {
                this.loading = true;
                this.$http.get(this.$parent.MakeUrl('api/v1/coupon/get/types'))
                    .then((res) => {
                        this.couponTypes = res.data.data;
                        this.loading = false;
                    }).catch((err) => {
                    this.message = err.response.data.message;
                    this.loading = false;
                    this.type_error = 'error';
                });
            },
            resetForm() {
                this.discountFields = {
                    name: null,
                    description: null,
                    discountType: [],
                    amount: 0,
                    discountAmountType: [],
                    selected_roles: [],
                    selected_products: [],
                    starts_at: null,
                    expires_at: null,
                    save_coupon: false
                }
            },
            updateDiscount(discountId) {

                this.errors = [];
                this.message = '';
                this.loading = true;

                let requestData = {...this.discountFields};

                if (this.discountFields.save_coupon) {
                    requestData = {...this.discountFields, ...this.couponFields}
                }

                this.$http.patch(this.$parent.MakeUrl(`api/v1/discount-partner/${discountId}`),
                    {
                        discountFields: this.discountFields,
                        couponFields: this.couponFields,
                        _method: "PATCH"
                    })
                    .then((res) => {
                        console.log(res.data);
                        this.loading = false;
                        this.message = res.data.message;
                        this.type_error = 'success';
                    }).catch((err) => {
                    this.errors = err.response.data.errors;
                    this.loading = false;
                    this.type_error = 'error';
                    this.message = err.response.data.message;
                });
            },
            getDiscountFields(discountId) {
                this.loading = true;
                this.$http.get(this.$parent.MakeUrl(`api/v1/discount-partner/${discountId}`))
                    .then((res) => {

                        let temp_roles = [];
                        for (let user of res.data.data.data.users) {
                            let { roles } = user;
                            temp_roles = [...roles ];
                        }

                        this.discountFields = {
                            selected_roles: temp_roles,
                            selected_products: [...res.data.data.products],
                            selected_discountPeriodActivityType: res.data.data.period_activity,
                            selected_discountType: res.data.data.type,
                            selected_discountAmountType: res.data.data.amount_type,
                            ...res.data.data.data
                        };
                        this.loading = false;
                    })
            }
        },
        components: {
            MaskedInput,
            DiscountPartnerFields,
            FlashMessage,
            LoaderComponent
        }
    }
</script>
