<template>
    <div id="">
        <div class="tile">
            <h3 class="tile-title">Значение атрибута</h3>
            <hr>
            <div class="tile-body">
                <div class="form-group">
                    <label class="control-label" for="value">Значение</label>
                    <input
                        class="form-control"
                        type="text"
                        placeholder="Введите значение атрибута"
                        id="value"
                        name="value"
                        v-model="value"
                    />
                </div>
            </div>
            <div class="tile-footer">
                <div class="row d-print-none mt-2">
                    <div class="col-12 text-right">
                        <button
                            class="btn btn-success"
                            type="submit"
                            @click.stop="saveValue()"
                            v-if="addValue"
                        >
                            <i class="fa fa-fw fa-lg fa-check-circle"/>
                            Сохранить
                        </button>
                        <button
                            class="btn btn-success"
                            type="submit"
                            @click.stop="updateValue()"
                            v-if="!addValue"
                        >
                            <i class="fa fa-fw fa-lg fa-check-circle"/>
                            Обновить
                        </button>
                        <button
                            class="btn btn-primary"
                            type="submit"
                            @click.stop="reset()"
                            v-if="!addValue"
                        >
                            <i class="fa fa-fw fa-lg fa-check-circle"/>
                            Сбросить
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="tile">
            <h3 class="tile-title">Значения атрибута</h3>
            <div class="tile-body">
                <div class="table-responsive">
                    <table class="table table-sm">
                        <thead>
                        <tr class="text-center">
                            <th>#</th>
                            <th>Значение</th>
                            <th>Действия</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-if="values.length > 0" v-for="value in values">
                            <td style="width: 25%" class="text-center">{{ value.id}}</td>
                            <td style="width: 25%" class="text-center">{{ value.value}}</td>
                            <td style="width: 25%" class="text-center">
                                <button
                                    class="btn btn-sm btn-primary"
                                    @click.stop="editAttributeValue(value)"
                                >
                                    <i class="fa fa-edit"/>
                                </button>
                                <button
                                    class="btn btn-sm btn-danger"
                                    @click.stop="deleteAttributeValue(value)"
                                >
                                    <i class="fa fa-trash"/>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "attribute-values",
        props: ['attributeid'],
        data() {
            return {
                values: [],
                value: '',
                price: '',
                currentId: '',
                addValue: true,
                key: 0,
            }
        },
        created: function() {
            this.loadValues();
        },
        methods: {
            loadValues() {
                let attributeId = this.attributeid;
                let _this = this;
                this.$http.post('/admin/attributes/get-values', {
                    id: attributeId
                }).then (function(response){
                    _this.values = response.data.data;
                }).catch(function (error) {
                    console.log(error);
                });
            },
            saveValue() {
                if (this.value === '') {
                    this.$swal("Ошибка, Требуется значение для атрибута.", {
                        icon: "error",
                    });
                } else {
                    let attributeId = this.attributeid;
                    let _this = this;
                    this.$http.post('/admin/attributes/add-values', {
                        id: attributeId,
                        value: _this.value,
                        price: _this.price,
                    }).then ((response) => {
						_this.values.push(response.data.data);
						_this.resetValue();
						_this.$swal("Успех! Значение добавлена успешно!", {
							icon: "success",
						});
					}).catch(function (error) {
                        console.log(error);
                    });
                }
            },
            editAttributeValue(value) {
                this.addValue = false;
                this.value = value.value;
                this.price = value.price;
                this.currentId = value.id;
                this.key = this.values.indexOf(value);
            },
            updateValue() {
                if (this.value === '') {
                    this.$swal("Ошибка, Требуется значение для атрибута.", {
                        icon: "error",
                    });
                } else {
                    let attributeId = this.attributeid;
                    let _this = this;
                    this.$http.post('/admin/attributes/update-values', {
                        id: attributeId,
                        value: _this.value,
                        price: _this.price,
                        valueId: _this.currentId
                    }).then (function(response){
                        _this.values.splice(_this.key, 1);
                        _this.resetValue();
                        _this.values.push(response.data.data);
                        _this.$swal("Успех! Значение успешно обновлено!", {
                            icon: "success",
                        });
                    }).catch(function (error) {
                        console.log(error);
                    });
                }
            },
            deleteAttributeValue(value) {
                this.$swal({
                    title: "Вы уверены?",
                    text: "После удаления вы не сможете восстановить это значение атрибута!",
                    icon: "warning",
                    buttons: true,
					cancelButtonText: "Отмена",
                    dangerMode: true,
                }).then((willDelete) => {
                    if (willDelete) {
                        this.currentId = value.id;
                        this.key = this.values.indexOf(value);
                        let _this = this;
                        this.$http.post('/admin/attributes/delete-values', {
                            id: _this.currentId
                        }).then (function(response){
                            if (response.data.error === false) {
                                _this.values.splice(_this.key, 1);
                                _this.resetValue();
                                _this.$swal("Успех! Значение атрибута было удалено!", {
                                    icon: "success",
                                });
                            } else {
                                _this.$swal("Ваше значение атрибута не удалено!");
                            }
                        }).catch(function (error) {
                            console.log(error);
                        });
                    } else {
                        this.$swal("Ваше значение не удалено!");
                    }
                });
            },
            resetValue() {
                this.value = '';
                this.price = '';
            },
            reset() {
                this.addValue = true;
                this.resetValue();
            }
        }
    }
</script>
