<template>
    <div>
        <div class="tile">
            <h3 class="tile-title">Атрибуты</h3>
            <hr>
            <div class="tile-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="parent">Выберите атрибут <span class="m-l-5 text-danger"> *</span></label>
                            <select
									id=parent
									class="form-control custom-select mt-15"
									v-model="attribute"
                                    @change="selectAttribute(attribute)"
							>
                                <option :value="attribute" v-for="attribute in attributes">
									{{ attribute.name }}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tile" v-if="attributeSelected">
            <h3 class="tile-title">Добавить атрибут товару</h3>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="values">Укажите значение <span class="m-l-5 text-danger"> *</span></label>
                        <select
								v-if="attribute.frontend_type === 'select'"
								id="values"
								class="form-control custom-select mt-15"
								v-model="value"
                                @change="selectValue(value)"
						>
                            <option
									:value="value"
									v-for="value in attributeValues"
							>
								{{ value.value }}
							</option>
                        </select>
						<input type="text" class="form-control" v-model="currentValue" v-else>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-sm btn-primary" @click.prevent="addProductAttribute()">
                        <i class="fa fa-plus"/> Добавить
                    </button>
                </div>
            </div>
        </div>
        <div class="tile">
            <h3 class="tile-title">Атрибуты товара</h3>
            <div class="tile-body">
                <div class="table-responsive">
                    <table class="table table-sm">
                        <thead>
                        <tr class="text-center">
							<th>Свойство</th>
                            <th>Значение</th>
                            <th>Действия</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="pa in productAttributes">
							<td style="width: 25%" class="text-center">
								{{
									attributes.find(attribute => attribute.id === pa.attribute_id).name
								}}
							</td>
                            <td style="width: 25%" class="text-center">{{ pa.value }}</td>
                            <td style="width: 25%" class="text-center">
                                <button class="btn btn-sm btn-danger" @click.prevent="deleteProductAttribute(pa)">
                                    <i class="fa fa-trash"/>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['productid'],
        data() {
            return {
                productAttributes: [],
                attributes: [],
                attribute: {},
                attributeSelected: false,
                attributeValues: [],
                value: {},
                valueSelected: false,
                currentAttributeId: '',
                currentValue: ''
            }
        },
        mounted: function () {
            this.loadAttributes();
            this.loadProductAttributes(this.productid);
        },
        methods: {
            loadAttributes() {
                let _this = this;
                this.$http.get('/admin/products/attributes/load')
                    .then(function (response) {
                        _this.attributes = response.data.data;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            loadProductAttributes(id) {
                let _this = this;
                this.$http.post('/admin/products/attributes', {
                    id: id
                }).then(function (response) {
                    _this.productAttributes = response.data.data;
                }).catch(function (error) {
                    console.log(error);
                });
            },
            selectAttribute(attribute) {
                let _this = this;
                this.currentAttributeId = attribute.id;
                this.$http.post('/admin/products/attributes/values', {
                    id: attribute.id
                }).then(function (response) {
                    _this.attributeValues = response.data.data;
                }).catch(function (error) {
                    console.log(error);
                });
                this.attributeSelected = true;
            },
            selectValue(value) {
                this.valueSelected = true;
                this.currentValue = value.value;
            },
            addProductAttribute() {
                let _this = this;
                let data = {
                    attribute_id: this.currentAttributeId,
                    product_id: this.productid,
                    value: this.currentValue
                };
                this.$http.post('/admin/products/attributes/add', {
                    data: data
                }).then(function (response) {
                    _this.$swal("Успех! " + response.data.message, {
                        icon: "success",
                    });
                    _this.productAttributes.push(response.data.data);
                    _this.currentValue = '';
                    _this.attribute = {};
                    _this.valueSelected = false;

                }).catch(function (error) {
                    console.log(error);
                });
            },
			deleteProductAttribute(pa) {
				let _this = this;
				this.$swal({
					title: "Вы уверены?",
					text: "После удаления вы не сможете восстановить эти данные!",
					icon: "warning",
					buttons: true,
					dangerMode: true,
				}).then((willDelete) => {
					if (willDelete) {
						this.$http.post('/admin/products/attributes/delete', {
							id: pa.id,
						}).then(function (response) {
							if (response.data.error === false) {
								_this.$swal("Успех! Атрибут товара удален!", {
									icon: "success",
								});
								let key = _this.productAttributes.indexOf(pa);
								_this.productAttributes.splice(key, 1);
							} else {
								_this.$swal("Ваш атрибут для продукта не удален!");
							}
						}).catch(function (error) {
							console.log(error);
						});
					} else {
						this.$swal("Действие отменено!");
					}
				});
			}
        },
    }
</script>
