<template>
    <div class="dropdown-item-icon bg-danger text-white">
        <i class="fas fa-exclamation-triangle"></i>
    </div>
</template>

<script>
    export default {
        name: "ImportFailed"
    }
</script>

<style scoped>

</style>
