<template>
    <div class="dropdown-item-icon bg-success text-white">
        <i class="fas fa-check"></i>
    </div>
</template>

<script>
    export default {
        name: "ImportSuccess"
    }
</script>

<style scoped>

</style>
