<template>
    <div class="dropdown-item-icon bg-info text-white">
        <i class="fas fa-bell"></i>
    </div>
</template>

<script>
    export default {
        name: "Other"
    }
</script>

<style scoped>

</style>
