<template>
    <div class="row">
        <FlashMessage
            v-if="message"
            :message="message"
            :type-error="typeError"
        />
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4>{{ this.subtitle }}</h4>
                    <div class="card-header-action">
                        <a
                            class="btn btn-primary"
                            href="admin/partner-shop/create"
                        ><span class="text-white">Добавить <i class="text-white fas fa-plus"></i></span>
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <PartnerShopTable :partner-shops="this.partnerShops"/>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import FlashMessage from "../Shared/Common/FlashMessage";
    import PartnerShopTable from "./PartnerShopTable";

    export default {
        name: "IndexPartner",
        props: [
            'subtitle',
            'partnerShops'
        ],
        components: {
            FlashMessage,
            PartnerShopTable
        },
        data: () => ({
            message: '',
            typeError: ''
        })
    }
</script>

<style scoped>

</style>
