<template>
    <div class="row">
        <div class="col-12">
            <FlashMessage
                v-if="message"
                :message="message"
                :type-error="typeError"
            />
            <div class="card">
                <div class="card-header">
                    <h4>{{ subtitle }}</h4>
                </div>
                <div class="card-body" v-for="(shop, index) in shops" :key="index">
                    <div class="form-group row mb-4">
                        <label
                            for="shop_name"
                            class="col-form-label text-md-right col-12 col-md-3 col-lg-3">
                            Название партнерского магазина
                        </label>
                        <div class="col-sm-12 col-md-7">
                            <input
                                name="shop_name"
                                id="shop_name"
                                :class="{'is-invalid': errors.shop_name}"
                                type="text"
                                v-model="shop.shop_name"
                                class="form-control">
                            <div class="invalid-feedback" v-if="errors.shop_name">
                                <p>{{ errors.shop_name[0] }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row mb-4">
                        <label
                            for="law_shop_name"
                            class="col-form-label text-md-right col-12 col-md-3 col-lg-3">
                            Юридическое название магазина
                        </label>
                        <div class="col-sm-12 col-md-7">
                            <input
                                name="law_shop_name"
                                id="law_shop_name"
                                :class="{'is-invalid': errors.law_shop_name}"
                                type="text"
                                v-model="shop.law_shop_name"
                                class="form-control"
                                v-uppercase
                            >
                            <div class="invalid-feedback" v-if="errors.law_shop_name">
                                <p>{{ errors.law_shop_name[0] }}</p>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row mb-4">
                        <label
                            for="inn"
                            class="col-form-label text-md-right col-12 col-md-3 col-lg-3">ИНН</label>
                        <div class="col-sm-12 col-md-7">
                            <vue-text-mask
                                id="inn"
                                v-model="shop.inn"
                                class="form-control"
                                :class="{ 'is-invalid': errors.inn }"
                                type="text"
                                name="inn"
                                mask="9999999999"
                                :raw="false"
                                required
                            />
                            <div class="invalid-feedback" v-if="errors.inn">
                                <p>{{ errors.inn[0] }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row mb-4">
                        <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">КПП</label>
                        <div class="col-sm-12 col-md-7">
                            <vue-text-mask
                                id="kpp"
                                v-model="shop.kpp"
                                class="form-control"
                                :class="{ 'is-invalid': errors.kpp }"
                                type="text"
                                name="inn"
                                mask="999999999"
                                :raw="false"
                                required
                            />
                            <div class="invalid-feedback" v-if="errors.kpp">
                                <p>{{ errors.kpp[0] }}</p>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row mb-4">
                        <label
                            for="address"
                            class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Адрес</label>
                        <div class="col-sm-12 col-md-7">
                            <input
                                id="address"
                                name="address"
                                :class="{'is-invalid': errors.address}"
                                type="text"
                                v-model="shop.address"
                                class="form-control"
                            >
                            <div class="invalid-feedback" v-if="errors.address">
                                <p>{{ errors.address[0] }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row mb-4">
                        <label
                            for="city"
                            class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Город</label>
                        <div class="col-sm-12 col-md-7">
                            <input
                                id="city"
                                name="city"
                                :class="{'is-invalid': errors.city}"
                                type="text"
                                v-model="shop.city"
                                class="form-control"
                            >
                            <div class="invalid-feedback" v-if="errors.city">
                                <p>{{ errors.city[0] }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row mb-4">
                        <label
                            for="post_index"
                            class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Почтовый индекс</label>
                        <div class="col-sm-12 col-md-7">
                            <vue-text-mask
                                id="post_index"
                                v-model="shop.post_index"
                                class="form-control"
                                :class="{ 'is-invalid': errors.post_index }"
                                type="text"
                                name="post_index"
                                mask="999999"
                                :raw="false"
                                required
                            />
                            <div class="invalid-feedback" v-if="errors.post_index">
                                <p>{{ errors.post_index[0] }}</p>
                            </div>
                        </div>
                    </div>

                    <!-- Start owner (partner_id) field -->
                    <div class="form-group row col-md-12 mb-4">
                        <label
                            class="col-form-label text-md-right col-12 col-md-3 col-lg-3 font-weight-bold"
                            for="partner_id">
                            Владелец
                        </label>
                        <div class="col-sm-12 col-md-7">
                            <select
                                id="partner_id"
                                class="form-control"
                                name="partner_id"
                                v-model="shop.partner_id"
                                @change="selectPartner($event)"
                            >
                                <option value="0" disabled>Выберите владельца из списка</option>
                                <option
                                    v-for="owner in partners"
                                    :key="owner.id"
                                    :value="owner.id"
                                >
                                    {{ owner.user.name }}
                                </option>
                            </select>
                        </div>
                    </div>
                    <!-- End owner (partner_id) field -->
                </div>
                <div class="card-footer">
                    <div class="form-group row mb-4">
                        <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3"/>
                        <div class="col-sm-12 col-md-7">
                            <button

                                @click="createPartnerShop"
                                class="btn btn-primary"
                            >
                                <!--<span v-if="loading">Регистрируем...</span>-->
                                <span >Сохранить</span>
                            </button>
                            <a
                                class="btn btn-danger"
                                href="/admin/partner-shop/"
                            >
                                Отмена
                            </a>
                            <button
                                class="btn btn-dark"
                                @click="pushPartnerShop"
                            >Добавить ещё
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import vueTextMask from 'vue-jquery-mask';
    import FlashMessage from "../Shared/Common/FlashMessage";

    export default {

        props: ['partners', 'subtitle'],
        data() {
            return {
                shops: [{
                    shop_name: '',
                    law_shop_name: '',
                    inn: '',
                    kpp: '',
                    address: '',
                    city: '',
                    post_index: '',
                    partner_id: null
                }],
                role: '',
                roles: [],
                errors: [],
                message: '',
                loading: false,
                typeError: null
            }
        },
        mounted() {
            this.getRoles();
        },
        methods: {
            getRoles() {
                this.$http.get(this.$parent.MakeUrl('admin/users/roles')).then((res) => {
                    this.roles = res.data;
                }).catch((err) => {
                    this.message = 'Что-то пошло не так';
                });
            },
            resetForm() {
                this.shops = [{
                    shop_name: '',
                    law_shop_name: '',
                    inn: '',
                    kpp: '',
                    address: '',
                    city: '',
                    post_index: '',
                    partner_id: null
                }];
            },
            async createPartnerShop() {
                let _this = this;
                _this.errors = [];
                _this.message = '';
                _this.loading = true;

                await this.$http({
                    url: this.$parent.MakeUrl('admin/partner-shop'),
                    method: "POST",
                    data: this.shops
                }).then((res) => {
                    console.log(res);
                    _this.loading = false;
                    _this.resetForm();
                    _this.typeError = 'success';
                    _this.message = 'Данные об партнёрском магазине(ах) был(и) успешно добавлен(ы)!';
                }).catch((err) => {
                    _this.errors = err.response.data.errors;
                    _this.loading = false;
                    _this.typeError = 'error';
                });
            },
            selectPartner(event) {
                this.shops.partner_id = event.target.value;
            },
            toUpperCase(e) {
                e.target.value = e.target.value.toUpperCase()
            },
            pushPartnerShop() {
                this.shops.push({
                    shop_name: '',
                    law_shop_name: '',
                    inn: '',
                    kpp: '',
                    address: '',
                    city: '',
                    post_index: '',
                    partner_id: null
                });
            }
        },
        components: {
            vueTextMask,
            FlashMessage
        },
        directives: {
            uppercase: {
                update(el) {
                    el.value = el.value.toUpperCase();
                }
            }
        }
    }
</script>
