<template>
    <div class="table-responsive">
        <table class="table" id="partners-table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Название магазина</th>
                <th>Юр.название</th>
                <th>Действия</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="shop of partnerShops" :key="shop.id">
                <td>{{ shop.id }}</td>
                <td>{{ shop.shop_name }}</td>
                <td>{{ shop.law_shop_name }}</td>
                <td class="btn-group d-flex align-items-center" role="group" aria-label="CRUD Операции">
                    <router-link
                        :to="{ name: 'partners-show', params: [shop.id] }"
                        class='btn btn-success btn-xs'
                    >
                        <i
                            class="fa fa-eye">
                        </i>
                    </router-link>
                    <router-link
                        :to="{ name: 'partners-edit', params: { partnerId: shop.id } }"
                        class='btn btn-primary btn-xs'
                    >
                        <i
                            class="fa fa-edit">
                        </i>
                    </router-link>
                    <button
                        class="btn btn-danger"
                        @click="deletePartner(shop.id)"
                    >
                        <i class="fa fa-trash"></i>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</template>

<script>
    export default {
        name: "TablePartners",
        props: ['partnerShops'],
        data: () => ({
            'message': '',
            'errors': []
        }),
        methods: {
            deletePartner(id)
            {
                this.$http.post(this.$parent.MakeUrl(`/admin/partners/${id}`), {
                    data: {
                        '_method': 'DELETE'
                    }
                }).then((response) => {

                });
            }
        }
    }
</script>

<style scoped>

</style>
