<template>
    <div class="tab-content tab-bordered" id="myTab3Content">
        <div class="tab-pane fade show active" id="params" role="tabpanel" aria-labelledby="params-tab">
            <!-- Activity End at Field -->
            <div class="form-group row col-md-12">
                <label for="created_at" class="col-form-label text-md-right col-12 col-md-3 col-lg-3">
                    Создан:
                </label>
                <div class="col-sm-12 col-md-7">
                    <input
                        type="text"
                        name="created_at"
                        id="created_at"
                        class="form-control"
                        v-model="orderFields.created_at"
                        disabled
                    >
                </div>
            </div>

            <!-- Activity End at Field -->
            <div class="form-group row col-md-12">
                <label for="updated_at" class="col-form-label text-md-right col-12 col-md-3 col-lg-3">
                    Последнее изменение:
                </label>
                <div class="col-sm-12 col-md-7">
                    <input
                        type="text"
                        name="updated_at"
                        id="updated_at"
                        class="form-control"
                        v-model="orderFields.updated_at"
                        disabled
                    >
                </div>
            </div>

            <div class="form-group row col-md-12">
                <label for="status" class="col-form-label text-md-right col-12 col-md-3 col-lg-3">
                    Статус заказа:
                </label>

                <div class="col-sm-12 col-md-7">
                    <select
                        class="form-control custom-select mt-15"
                        name="status"
                        id="status"
                        v-model="orderFields.status"
                    >
                        <option disabled>Выберите статус заказа</option>
                        <option
                            :value="key"
                            v-for="(status, key) in orderStatuses"
                            :key="key"
                        >{{ status }}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="tab-pane fade show" id="buyer" role="tabpanel" aria-labelledby="buyer-tab">
            <!-- Username Field -->
            <div class="form-group row col-md-12">
                <label
                    class="col-form-label text-md-right col-12 col-md-3 col-lg-3"
                    for="user_id"
                >
                    Покупатель:
                </label>
                <div class="col-sm-12 col-md-7">
                    <select
                        id="user_id"
                        class="form-control"
                        name="user_id"
                        v-model="targetUser.id"
                    >
                        <option value="0">Выберите пользователя</option>
                        <option :value="user.id" v-for="user in users" :key="user.id">
                            {{ user.name }}
                        </option>
                    </select>
                </div>
            </div>

            <div class="form-group row col-md-12">
                <label for="last_name" class="col-form-label text-md-right col-12 col-md-3 col-lg-3">
                    Фамилия покупателя:
                </label>
                <div class="col-sm-12 col-md-7">
                    <input
                        type="text"
                        name="last_name"
                        id="last_name"
                        class="form-control"
                        v-model="orderFields.last_name"
                    >
                </div>
            </div>

            <div class="form-group row col-md-12">
                <label for="first_name" class="col-form-label text-md-right col-12 col-md-3 col-lg-3">
                    Имя покупателя:
                </label>
                <div class="col-sm-12 col-md-7">
                    <input
                        type="text"
                        name="first_name"
                        id="first_name"
                        class="form-control"
                        v-model="orderFields.first_name"
                    >
                </div>
            </div>

            <div class="form-group row col-md-12">
                <label for="address" class="col-form-label text-md-right col-12 col-md-3 col-lg-3">
                    Адрес:
                </label>
                <div class="col-sm-12 col-md-7">
                    <textarea
                        type="text"
                        name="address"
                        id="address"
                        class="form-control"
                        v-model="orderFields.address"
                    />
                </div>
            </div>

            <div class="form-group row col-md-12">
                <label for="city" class="col-form-label text-md-right col-12 col-md-3 col-lg-3">
                    Город:
                </label>
                <div class="col-sm-12 col-md-7">
                    <input
                        type="text"
                        name="city"
                        id="city"
                        class="form-control"
                        v-model="orderFields.city"
                    />
                </div>
            </div>

            <div class="form-group row col-md-12">
                <label for="country" class="col-form-label text-md-right col-12 col-md-3 col-lg-3">
                    Страна:
                </label>
                <div class="col-sm-12 col-md-7">
                    <input
                        type="text"
                        name="country"
                        id="country"
                        class="form-control"
                        v-model="orderFields.country"
                    />
                </div>
            </div>

            <div class="form-group row col-md-12">
                <label for="post_code" class="col-form-label text-md-right col-12 col-md-3 col-lg-3">
                    Почтовый индекс:
                </label>
                <div class="col-sm-12 col-md-7">
                    <input
                        type="text"
                        name="post_code"
                        id="post_code"
                        class="form-control"
                        v-model="orderFields.post_code"
                    />
                </div>
            </div>

            <div class="form-group row col-md-12">
                <label for="phone_number" class="col-form-label text-md-right col-12 col-md-3 col-lg-3">
                    Телефон получателя:
                </label>
                <div class="col-sm-12 col-md-7">
                    <input
                        type="text"
                        name="phone_number"
                        id="phone_number"
                        class="form-control"
                        v-model="orderFields.phone_number"
                    />
                </div>
            </div>

            <!-- Comment Field -->
            <div class="form-group row col-sm-12 col-lg-12">
                <label for="comments" class="col-form-label text-md-right col-12 col-md-3 col-lg-3">
                    Комментарии к заказу:
                </label>
                <div class="col-sm-12 col-md-7">
                    <textarea
                        name="comments"
                        id="comments"
                        cols="30"
                        rows="10"
                        class="form-control h-100"
                        v-model="orderFields.comments"
                    />
                </div>
            </div>
        </div>
        <div class="tab-pane fade show" id="shipping" role="tabpanel" aria-labelledby="shipping-tab"></div>
        <div class="tab-pane fade show" id="payinfo" role="tabpanel" aria-labelledby="payinfo-tab">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card card-primary">
                            <div class="card-header">
                                <h4>К оплате</h4>
                            </div>
                            <div class="card-body">
                                <h5>
                                    {{ grandTotal }} ₽
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade show" id="pay" role="tabpanel" aria-labelledby="pay-tab">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-4">
                        <div class="card card-primary">
                            <div class="card-header">
                                <h4>Cпособ оплаты</h4>
                            </div>
                            <div class="card-body">
                                <p>{{ orderFields.payment_method }}</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="card card-primary">
                            <div class="card-header">
                                <h4>Cумма к оплате</h4>
                            </div>
                            <div class="card-body">
                                <p>{{ grandTotal }} ₽</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="card card-primary">
                            <div class="card-header">
                                <label for="payment_status">Статус</label>
                            </div>
                            <div class="card-body">
                                <select
                                    name="payment_status"
                                    id="payment_status"
                                    class="form-control"
                                    v-model="orderFields.payment_status"
                                >
                                    <option
                                        :value="key"
                                        v-for="(pay_status, key) in paymentStatuses"
                                        :key="key"
                                    >
                                        {{ pay_status }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade show" id="orderitems" role="tabpanel" aria-labelledby="orderitems-tab">
            <table class="table">
                <tr>
                    <td>Изображение</td>
                    <td>Название</td>
                    <td><label>Количество</label></td>
                    <td>Остаток</td>
                    <td>Цена</td>
                    <td>Сумма</td>
                </tr>
                <tbody>
                <tr v-for="item in orderItems" :key="item.id">
                    <td>
                       <img
                            :src="item.offer.product.images[0].full"
                            :alt="item.offer.product.name"
                            width="70" height="70"
                            style="object-fit: cover;"
                            class="my-2"
                            v-if="item.offer.product.images.length !== 0"
                       >
                        <span v-else>Нет изображения</span>
                    </td>
                    <td>{{ item.offer.product.name }}</td>
                    <td>
                        <input
                            name="quantity"
                            type="number"
                            min="1"
                            :max="item.offer.amount"
                            v-model.number.lazy="item.quantity"
                            class="w-25"
                        /> шт
                    </td>
                    <td>{{ item.offer.amount - item.quantity }} шт</td>
                    <td>{{ item.offer.price }} ₽</td>
                    <td>{{ item.price }} ₽</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
    export default {
        name: "OrderFields",
        props: {
            orderFields: {
                type: Object,
                required: true,
            },
            orderItems: {
                type: Array,
                required: false
            },
            editMode: {
                type: Boolean,
                required: true
            },
            users: {
                type: Array,
                required: true
            },
            offers: {
                type: Array,
                required: true
            },
            targetUser: {
                type: Object,
                required: false
            },
            orderStatuses: {
                type: Object,
                required: true
            },
            paymentStatuses: {
                type: Object,
                required: true
            },
            orderAmount: {
                type: Array,
                required: true
            },
            grand_total: {
                type: Number,
                required: true
            },
            item_count: {
                type: Number,
                required: true
            }
        },
        computed: {
            grandTotal: {
                get: function () {
                    let _grand_total = [];
                    let _item_count = [];
                    let _lastAmount = this.orderAmount;

                    _.forEach(this.orderItems, function (value, key) {
                        value.price = value.offer.price * value.quantity;
                        _grand_total.push(value.offer.price * value.quantity);
                        _lastAmount[key] = (value.offer.amount - value.quantity);
                        _item_count.push(Number.parseInt(value.quantity));
                    });


                    this.gTotal = _.reduce(_grand_total, function (sum, n) {
                        return sum + n;
                    }, 0);

                    this.itemC = _.reduce(_item_count, function (sum, n) {
                        return sum + n;
                    }, 0);

                    this.$emit('update-item-count', Number.parseInt(this.itemC));

                    this.$emit('update-grand-total', Number.parseInt(this.gTotal));

                    return Number.parseInt(this.gTotal);
                }
            },
            itemCount: {
                get: function () {
                    let _item_count = [];

                    _.forEach(this.orderItems, function (value) {
                        _item_count.push(Number.parseInt(value.quantity));
                    });

                    this.itemC = _.reduce(_item_count, function (sum, n) {
                        return sum + n;
                    }, 0);

                    this.$emit('update-item-count', Number.parseInt(this.itemC));

                    return Number.parseInt(this.itemC);
                }
            },
        },
        data: () => ({
            gTotal: null,
            itemC: null
        })
    }
</script>

<style scoped>

</style>
