<template>
    <ul class="nav nav-tabs" id="myTab2" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="params-tab" data-toggle="tab" href="#params"
               role="tab"
               aria-controls="params" aria-selected="true">Параметры заказа</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="buyer-tab" data-toggle="tab" href="#buyer" role="tab"
               aria-controls="buyer" aria-selected="false">Покупатель</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="shipping-tab" data-toggle="tab" href="#shipping" role="tab"
               aria-controls="shipping" aria-selected="false">Отгрузка</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="payinfo-tab" data-toggle="tab" href="#payinfo" role="tab"
               aria-controls="payinfo" aria-selected="false">Информация по оплатам</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" id="pay-tab" data-toggle="tab" href="#pay" role="tab"
               aria-controls="pay" aria-selected="false">Оплата</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" id="orderitems-tab" data-toggle="tab" href="#orderitems" role="tab"
               aria-controls="orderitems" aria-selected="false">Состав заказа</a>
        </li>
    </ul>

</template>

<script>
    export default {
        name: "OrderTabs"
    }
</script>

<style scoped>

</style>
