<template>
    <div>
        <div class="main-wrapper">
            <div class="navbar-bg"></div>
            <Navbar/>
            <div class="main-sidebar">
                <Sidebar/>
            </div>
            <!-- Main Content -->
            <div class="main-content">
                <!-- The most important thing here -->
                <transition name="slide">
                    <router-view></router-view>
                </transition>
            </div>
            <Footer/>
        </div>
    </div>
</template>

<script>
    import Navbar from '@/js/components/Header/Navbar';
    import Sidebar from '@/js/components/Header/Sidebar';
    import Footer from '@/js/components/Footer/Footer';

    export default {
        name: "App",
        components: {
            Navbar,
            Sidebar,
            Footer
        }
    }

</script>

<style scoped>

</style>
