<template>
    <div class="table-responsive">
        <table class="table" id="partners-table">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Email</th>
                <th scope="col">Телефон</th>
                <th scope="col">Владелец</th>
                <th scope="col">Действия</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="partner of partners" :key="partner.id">
                <td class="px-lg-3">{{ partner.id }}</td>
                <td class="px-lg-3">{{ partner.email }}</td>
                <td class="px-lg-3">{{ partner.phone }}</td>
                <td class="px-lg-3">{{ partner.user.name }}</td>
                <td class="btn-group d-flex align-items-center px-0" role="group" aria-label="CRUD Операции">
                    <router-link
                        :to="{ name: 'partners-show', params: [partner.id] }"
                        class='btn btn-success btn-xs'
                    >
                        <i
                            class="fa fa-eye">
                        </i>
                    </router-link>
                    <router-link
                        :to="{ name: 'partners-edit', params: { partnerId: partner.id } }"
                        class='btn btn-primary btn-xs'
                    >
                        <i
                            class="fa fa-edit">
                        </i>
                    </router-link>
                    <button
                        class="btn btn-danger"
                        @click="deletePartner(partner.id)"
                    >
                        <i class="fa fa-trash"></i>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</template>

<script>
    export default {
        name: "TablePartners",
        props: ['partners'],
        data: () => ({
            'message': '',
            'errors': []
        }),
        methods: {
            deletePartner(id)
            {
                this.$http.post(this.$parent.MakeUrl(`/admin/partners/${id}`), {
                    data: {
                        '_method': 'DELETE'
                    }
                }).then((response) => {

                });
            }
        }
    }
</script>

<style scoped>

</style>
