<template>
    <div class="row">
        <div class="col-12">
            <FlashMessage
                v-if="message"
                :message="message"
                :type-error="typeError"
            />
            <div class="card">
                <div class="card-header">
                    <h4>{{ subtitle }}</h4>
                </div>
                <div class="card-body">
                    <div class="form-group row mb-4">
                        <label
                            for="first_name"
                            class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Фамилия</label>
                        <div class="col-sm-12 col-md-7">
                            <ValidationProvider
                                v-slot="{ errors }"
                                name="first_name"
                                rules="required"
                            >
                                <input
                                    name="first_name"
                                    id="first_name"
                                    :class="{'is-invalid': errors[0]}"
                                    type="text"
                                    v-model.trim="ownerShops.first_name"
                                    class="form-control">
                                <div class="invalid-feedback" v-if="errors">
                                    <p>{{ errors[0] }}</p>
                                </div>
                            </ValidationProvider>
                        </div>
                    </div>
                    <div class="form-group row mb-4">
                        <label
                            for="last_name"
                            class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Имя</label>
                        <div class="col-sm-12 col-md-7">
                            <ValidationProvider
                                v-slot="{ errors }"
                                name="last_name"
                                rules="required"
                            >
                                <input
                                    id="last_name"
                                    name="last_name"
                                    :class="{'is-invalid': errors[0]}"
                                    type="text"
                                    v-model.trim="ownerShops.last_name"
                                    class="form-control">
                                <div class="invalid-feedback" v-if="errors">
                                    <p>{{ errors[0] }}</p>
                                </div>
                            </ValidationProvider>
                        </div>
                    </div>
                    <div class="form-group row mb-4">
                        <label
                            for="phone"
                            class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Номер телефона</label>
                        <div class="col-sm-12 col-md-7">
                            <ValidationProvider
                                v-slot="{ errors }"
                                name="phone"
                                rules="required|phone|"
                            >
                                <vue-text-mask
                                    id="phone"
                                    v-model="ownerShops.phone"
                                    class="form-control"
                                    :class="{ 'is-invalid': errors[0] }"
                                    :raw="false"
                                    :options="options"
                                    :mask="options.mask"
                                    name="phone"
                                    required
                                />
                                <div class="invalid-feedback" v-if="errors">
                                    <p>{{ errors[0] }}</p>
                                </div>
                            </ValidationProvider>
                        </div>
                    </div>
                    <div class="form-group row mb-4">
                        <label
                            for="email"
                            class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Email</label>
                        <div class="col-sm-12 col-md-7">
                            <ValidationProvider
                                v-slot="{ errors }"
                                name="email"
                                rules="required|email"
                            >
                                <input
                                    name="email"
                                    id="email"
                                    :class="{'is-invalid': errors[0]}"
                                    type="email"
                                    v-model.trim="ownerShops.email"
                                    class="form-control"
                                >
                                <div class="invalid-feedback" v-if="errors">
                                    <p>{{ errors[0] }}</p>
                                </div>
                            </ValidationProvider>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row mb-4">
                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3"></label>
                <div class="col-sm-12 col-md-7">
                    <button
                        :disabled="loading"
                        @click="updatePartner"
                        class="btn btn-primary"
                    >
                        <span v-if="loading">Обновляем...</span>
                        <span v-else>Сохранить</span>
                    </button>
                    <a
                        class="btn btn-danger"
                        href="/admin/partners/"
                    >
                        Отмена
                    </a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import FlashMessage from "../Shared/Common/FlashMessage";
    import vueTextMask from 'vue-jquery-mask';
    import {ValidationProvider, extend, localize} from 'vee-validate';
    import {required, email} from 'vee-validate/dist/rules';
    import * as ru from 'vee-validate/dist/locale/ru.json';
    import PhoneNumber from 'awesome-phonenumber';

    localize(ru);

    extend('required', {
        validate(value) {
            return {
                required: true,
                valid: ['', null, undefined].indexOf(value) === -1
            }
        },
        message: 'Это поле обязательно для заполнения',
        computesRequired: true
    });

    extend('email', {
        ...email,
        message: 'Это поле должно быть действительным электронным адресом'
    });

    extend('phone', {
        validate(value) {
            return new Promise(resolve => {
                let phone = new PhoneNumber(value, 'RU');
                resolve({valid: phone.isValid()})
            });
        },
        message: 'Это поле должно быть действительым номером'
    });

    export default {
        props: ['partner', 'subtitle'],
        data: () => ({
            ownerShops: {},
            role: '',
            roles: [],
            errors: [],
            message: '',
            options: {
                placeholder: '+7 (__) ___-____',
                mask: '+7 (000) 000-0000'
            },
            loading: false,
            typeError: null
        }),
        beforeMount() {
            let {id, first_name, last_name, phone, email} = this.partner.user;
            Object.assign(this.ownerShops, {id, first_name, last_name, phone, email});
        },
        mounted() {
            this.getRoles();
        },
        methods: {
            getPartnerShopData(key) {
                return JSON.parse(JSON.stringify(this.partner.partner_shops[0][key]));
            },
            getUserData(key) {
                return JSON.parse(JSON.stringify(this.partner.user[key]));
            },
            getRoles() {
                this.$http.get(this.$parent.MakeUrl('admin/users/roles')).then((res) => {
                    this.roles = res.data;
                }).catch((err) => {
                    this.message = 'Что-то пошло не так';
                    this.typeError = 'error';
                });
            },
            updatePartner() {
                let _this = this;
                _this.errors = [];
                _this.message = '';
                _this.loading = true;
                this.$http.post(
                    this.$parent.MakeUrl('admin/partners/' + this.getPartnerShopData('partner_id')),
                    {
                        users: {
                            first_name: this.ownerShops.first_name,
                            last_name: this.ownerShops.last_name,
                            email: this.ownerShops.email,
                            phone: this.ownerShops.phone
                        },
                        partner: {
                            email: this.ownerShops.email,
                            phone: this.ownerShops.phone,
                            user_id: this.ownerShops.id,
                        },
                        _method: 'PATCH'
                    })
                    .then((res) => {
                        console.log(res);
                        _this.loading = false;
                        _this.message = 'Данные об партнёре были успешно добавлены!';
                        _this.typeError = 'success';
                        //window.location = '/admin/partners';
                    }).catch((err) => {
                    _this.errors = err.response.data.errors;
                    _this.typeError = 'error';
                    _this.message = 'Произошла ошибка при обновлении информации.';
                    _this.loading = false;
                });
            }
        },
        directives: {
            uppercase: {
                update(el) {
                    el.value = el.value.toUpperCase();
                }
            }
        },
        components: {
            vueTextMask,
            FlashMessage,
            ValidationProvider
        }
    }
</script>
