<template>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4>Партнёров <span>{{ 1 }}</span></h4>
                    <div class="card-header-action">
                        <router-link
                            class="btn btn-primary"
                            :to="{ name: 'partner-create' }"
                        >
                            <span class="text-white">Добавить <i class="text-white fas fa-plus"></i></span>
                        </router-link>
                    </div>
                </div>
                <div class="card-body p-0">
                    <table-partners-component></table-partners-component>
                </div>
                <div class="card-footer">
                    <!-- Тут будет пагинация -->
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "IndexPartner",
        props: ['partners']
    }
</script>

<style scoped>

</style>
