<template>
    <div class="row">
        <div class="col-12">
            <FlashMessage
                v-if="message"
                :message="message"
                :type-error="typeError"
            />
            <div class="card">
                <div class="card-header">
                    <h4>{{ subtitle }}</h4>
                </div>
                <div class="card-body">
                    <div class="form-group row mb-4">
                        <label
                            for="first_name"
                            class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Фамилия</label>
                        <div class="col-sm-12 col-md-7">
                            <input
                                name="first_name"
                                id="first_name"
                                type="text"
                                v-model.trim="ownerShops.first_name"
                                class="form-control"
                                disabled
                            />
                        </div>
                    </div>
                    <div class="form-group row mb-4">
                        <label
                            for="last_name"
                            class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Имя</label>
                        <div class="col-sm-12 col-md-7">
                            <input
                                id="last_name"
                                name="last_name"
                                type="text"
                                v-model.trim="ownerShops.last_name"
                                class="form-control"
                                disabled
                            />
                        </div>
                    </div>
                    <div class="form-group row mb-4">
                        <label
                            for="phone"
                            class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Номер телефона</label>
                        <div class="col-sm-12 col-md-7">
                            <vue-text-mask
                                id="phone"
                                v-model="ownerShops.phone"
                                class="form-control"
                                :raw="false"
                                :options="options"
                                :mask="options.mask"
                                name="phone"
                                disabled
                            />
                        </div>
                    </div>
                    <div class="form-group row mb-4">
                        <label
                            for="email"
                            class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Email</label>
                        <div class="col-sm-12 col-md-7">
                            <input
                                name="email"
                                id="email"
                                :class="{'is-invalid': errors[0]}"
                                type="email"
                                v-model.trim="ownerShops.email"
                                class="form-control"
                                disabled
                            />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import FlashMessage from "../Shared/Common/FlashMessage";
    import vueTextMask from 'vue-jquery-mask';

    export default {
        props: ['partner', 'subtitle'],
        data() {
            return {
                ownerShops: {},
                role: '',
                roles: [],
                errors: [],
                message: '',
                options: {
                    placeholder: '+7 (__) ___-____',
                    mask: '+7 (000) 000-0000'
                },
                loading: false,
                typeError: null
            }
        },
        beforeMount() {
            let {id, first_name, last_name, phone, email} = this.partner.user;
            Object.assign(this.ownerShops, {id, first_name, last_name, phone, email});
        },
        mounted() {
            this.getRoles();
        },
        methods: {
            getRoles() {
                this.$http.get(this.$parent.MakeUrl('admin/users/roles')).then((res) => {
                    this.roles = res.data;
                }).catch((err) => {
                    this.message = 'Что-то пошло не так';
                    this.typeError = 'error';
                });
            }
        },
        directives: {
            uppercase: {
                update(el) {
                    el.value = el.value.toUpperCase();
                }
            }
        },
        components: {
            vueTextMask,
            FlashMessage
        }
    }
</script>
