<template>
    <div class="row">
        <div class="col-12">
            <div class="alert alert-primary" v-if="message">
                {{ message }}
            </div>
            <div class="card">
                <div class="card-header">
                    <h4>Добавить нового пользователя</h4>
                </div>
                <div class="card-body">

                    <div class="form-group row col-md-12">
                        <span class="col-form-label text-md-right col-12 col-md-3 col-lg-3">
                            Активность
                        </span>
                        <div class="custom-control custom-checkbox col-sm-12 col-md-7 d-flex align-self-center">
                            <input type="checkbox"
                                   name="active"
                                   id="active"
                                   class="custom-control-input"
                                   :class="{'is-invalid': errors.active}"
                                   v-model="active"
                            >
                            <label class="custom-control-label ml-lg-3" for="active"></label>
                        </div>
                    </div>

                    <div class="form-group row mb-4">
                        <label
                            class="col-form-label text-md-right col-12 col-md-3 col-lg-3"
                            for="first_name"
                        >
                            Фамилия
                        </label>
                        <div class="col-sm-12 col-md-7">
                            <input
                                :class="{'is-invalid': errors.first_name}"
                                type="text"
                                v-model="first_name"
                                class="form-control"
                                placeholder="Введите фамилию."
                                id="first_name"
                            >
                            <div class="invalid-feedback" v-if="errors.first_name">
                                <p>{{ errors.first_name[0] }}</p>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row mb-4">
                        <label
                            class="col-form-label text-md-right col-12 col-md-3 col-lg-3"
                            for="last_name"
                        >
                            Имя
                        </label>
                        <div class="col-sm-12 col-md-7">
                            <input
                                :class="{'is-invalid': errors.last_name}"
                                type="text"
                                v-model="last_name"
                                class="form-control"
                                placeholder="Введите имя."
                                id="last_name"
                            >
                            <div class="invalid-feedback" v-if="errors.last_name">
                                <p>{{ errors.last_name[0] }}</p>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row mb-4">
                        <label
                            class="col-form-label text-md-right col-12 col-md-3 col-lg-3"
                            for="email"
                        >
                            Email
                        </label>
                        <div class="col-sm-12 col-md-7">
                            <input
                                :class="{'is-invalid': errors.email}"
                                type="email"
                                v-model="email"
                                class="form-control"
                                placeholder="Введите Email адрес (должен быть уникальным)."
                                id="email"
                            >
                            <div class="invalid-feedback" v-if="errors.email">
                                <p>{{ errors.email[0] }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row mb-4">
                        <label
                            class="col-form-label text-md-right col-12 col-md-3 col-lg-3"
                            for="role"
                        >
                            Роль
                        </label>
                        <div class="col-sm-12 col-md-7">
                            <select
                                class="form-control"
                                v-model="role"
                                :class="{'is-invalid': errors.role}"
                                id="role"
                            >
                                <option
                                    v-for="role in roles"
                                    :value="role.id"
                                >
                                    {{ role.name }}
                                </option>
                            </select>
                            <div class="invalid-feedback" v-if="errors.role">
                                <p>{{ errors.role[0] }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row mb-4">
                        <label
                            class="col-form-label text-md-right col-12 col-md-3 col-lg-3"
                            for="password"
                        >
                            Пароль
                        </label>
                        <div class="col-sm-12 col-md-7">
                            <input
                                :class="{'is-invalid': errors.password}"
                                type="password"
                                v-model="password"
                                class="form-control"
                                autocomplete="new-password"
                                placeholder="Введите пароль."
                                id="password"
                            >
                            <div class="invalid-feedback" v-if="errors.password">
                                <p>{{ errors.password[0] }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row mb-4">
                        <label
                            class="col-form-label text-md-right col-12 col-md-3 col-lg-3"
                            for="password_confirmation"
                        >
                            Подтвеждение пароля
                        </label>
                        <div class="col-sm-12 col-md-7">
                            <input
                                :class="{'is-invalid': errors.password_confirmation}"
                                type="password"
                                v-model="password_confirmation"
                                class="form-control"
                                placeholder="Подтвердите введённый пароль."
                                autocomplete="new-password"
                                id="password_confirmation"
                            >
                            <div class="invalid-feedback" v-if="errors.password_confirmation">
                                <p>{{ errors.password_confirmation[0] }}</p>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row mb-4">
                        <label
                                class="col-form-label text-md-right col-12 col-md-3 col-lg-3"
                                for="phone"
                        >
                            Номер телефона
                        </label>
                        <div class="col-sm-12 col-md-7">
                            <input
                                    :class="{'is-invalid': errors.phone}"
                                    type="tel"
                                    v-model="phone"
                                    class="form-control"
                                    placeholder="Введите номер телефона."
                                    autocomplete="phone"
                                    id="phone"
                            >
                            <div class="invalid-feedback" v-if="errors.phone">
                                <p>{{ errors.phone[0] }}</p>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row mb-4">
                        <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3"></label>
                        <div class="col-sm-12 col-md-7">
                            <button
                                :disabled="loading"
                                @click="addUser"
                                class="btn btn-primary">
                                <span v-if="loading">Добавляем</span>
                                <span v-else>Добавить</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                active: true,
                first_name: '',
                last_name: '',
                email: '',
                password: '',
                password_confirmation: '',
                phone: '',
                errors: [],
                role: '',
                roles: '',
                message: '',
                loading: false
            }
        },
        mounted() {
            this.getRoles();
        },
        methods: {
            getRoles() {
                this.$http.get(this.$parent.MakeUrl('admin/users/roles')).then((res) => {
                    this.roles = res.data;
                }).catch((err) => {

                });
            },
            addUser() {
                let _this = this;
                _this.errors = [];
                _this.message = '';
                _this.loading = true;
                this.$http.post(this.$parent.MakeUrl('admin/users'), {
                    'active': this.active,
                    'first_name': this.first_name,
                    'last_name': this.last_name,
                    'role': this.role,
                    'email': this.email,
                    'current_password': this.current_password,
                    'password': this.password,
                    'password_confirmation': this.password_confirmation,
                    'phone': this.phone
                }).then((res) => {
                    _this.loading = false;
                    _this.resetForm();
                    _this.message = 'Аккаунт пользователя успешно создан!';
                }).catch((err) => {
                    _this.errors = err.response.data.errors;
                    _this.loading = false;
                });
            },
            resetForm() {
                this.active = false;
                this.first_name = '';
                this.last_name = '';
                this.email = '';
                this.password = '';
                this.role = '';
                this.password_confirmation = '';
                this.phone = ''
            }
        }
    }
</script>
