<template>
    <div class="row">
        <div class="col-12">
            <div class="alert alert-primary" v-if="message">
                {{ message }}
            </div>
            <div class="card">
                <div class="card-header">
                    <h4>Обновление профиля</h4>
                </div>
                <div class="card-body">

                    <div class="form-group row col-md-12">
                        <span class="col-form-label text-md-right col-12 col-md-3 col-lg-3">
                            Активность
                        </span>
                        <div class="custom-control custom-checkbox col-sm-12 col-md-7 d-flex align-self-center">
                            <input type="checkbox"
                                   name="active"
                                   id="active"
                                   class="custom-control-input"
                                   :class="{'is-invalid': errors.active}"
                                   v-model="active"
                            >
                            <label class="custom-control-label ml-lg-3" for="active"></label>
                        </div>
                    </div>

                    <div class="form-group row mb-4">
                        <label
                            class="col-form-label text-md-right col-12 col-md-3 col-lg-3"
                            for="first_name"
                        >
                            Фамилия
                        </label>
                        <div class="col-sm-12 col-md-7">
                            <input
                                :class="{'is-invalid': errors.first_name}"
                                type="text"
                                v-model="first_name"
                                class="form-control"
                                id="first_name"
                            >
                            <div class="invalid-feedback" v-if="errors.first_name">
                                <p>{{ errors.first_name[0] }}</p>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row mb-4">
                        <label
                            class="col-form-label text-md-right col-12 col-md-3 col-lg-3"
                            for="last_name"
                        >
                            Имя
                        </label>
                        <div class="col-sm-12 col-md-7">
                            <input
                                :class="{'is-invalid': errors.last_name}"
                                type="text"
                                v-model="last_name"
                                class="form-control"
                                id="last_name"
                            >
                            <div class="invalid-feedback" v-if="errors.last_name">
                                <p>{{ errors.last_name[0] }}</p>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row mb-4">
                        <label
                            class="col-form-label text-md-right col-12 col-md-3 col-lg-3"
                            for="email"
                        >
                            Email адрес
                        </label>
                        <div class="col-sm-12 col-md-7">
                            <input
                                :class="{'is-invalid': errors.email}"
                                type="email"
                                v-model="email"
                                class="form-control"
                                id="email"
                            >
                            <div class="invalid-feedback" v-if="errors.email">
                                <p>{{ errors.email[0] }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row mb-4" v-if="$parent.userCan('edit-users') && !getUserData('isme')">
                        <label
                            class="col-form-label text-md-right col-12 col-md-3 col-lg-3"
                            for="role"
                        >
                            Роль
                        </label>
                        <div class="col-sm-12 col-md-7">
                            <select
                                class="form-control"
                                v-model="role"
                                :class="{'is-invalid': errors.role}"
                                id="role"
                            >
                                <option
                                    v-for="role in roles"
                                    :value="role.id"
                                >
                                    {{ role.name }}
                                </option>
                            </select>
                            <div class="invalid-feedback" v-if="errors.role">
                                <p>{{ errors.role[0] }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row mb-4" v-if="!$parent.userCan('edit-users')">
                        <label
                            class="col-form-label text-md-right col-12 col-md-3 col-lg-3"
                            for="current_password"
                        >
                            Текущий пароль
                        </label>
                        <div class="col-sm-12 col-md-7">
                            <input
                                :class="{'is-invalid': errors.current_password}"
                                type="password"
                                v-model="current_password"
                                id="current_password"
                                class="form-control"
                                autocomplete="new-password"
                                placeholder="Введите текущий пароль"
                            >
                            <div class="invalid-feedback" v-if="errors.current_password">
                                <p>{{ errors.current_password[0] }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row mb-4">
                        <label
                            class="col-form-label text-md-right col-12 col-md-3 col-lg-3"
                            for="password"
                        >
                            Пароль
                        </label>
                        <div class="col-sm-12 col-md-7">
                            <input
                                :class="{'is-invalid': errors.password}"
                                type="password"
                                v-model="password"
                                class="form-control"
                                id="password"
                                autocomplete="new-password"
                                placeholder="Введите новый пароль (Только если вы хотите изменить пароль)"
                            >
                            <div class="invalid-feedback" v-if="errors.password">
                                <p>{{ errors.password[0] }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row mb-4">
                        <label
                            class="col-form-label text-md-right col-12 col-md-3 col-lg-3"
                            for="password_confirmation"
                        >
                            Подтвердите пароль
                        </label>
                        <div class="col-sm-12 col-md-7">
                            <input
                                :class="{'is-invalid': errors.password_confirmation}"
                                type="password"
                                v-model="password_confirmation"
                                class="form-control"
                                autocomplete="new-password"
                                id="password_confirmation"
                            >
                            <div class="invalid-feedback" v-if="errors.password_confirmation">
                                <p>{{ errors.password_confirmation[0] }}</p>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row mb-4">
                        <label
                                class="col-form-label text-md-right col-12 col-md-3 col-lg-3"
                                for="phone"
                        >
                            Номер телефона
                        </label>
                        <div class="col-sm-12 col-md-7">
                            <input
                                    :class="{'is-invalid': errors.phone}"
                                    type="tel"
                                    v-model="phone"
                                    class="form-control"
                                    placeholder="Введите номер телефона."
                                    autocomplete="phone"
                                    id="phone"
                            >
                            <div class="invalid-feedback" v-if="errors.phone">
                                <p>{{ errors.phone[0] }}</p>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row mb-4">
                        <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3"></label>
                        <div class="col-sm-12 col-md-7">
                            <button
                                :disabled="loading"
                                @click="updateUser"
                                class="btn btn-primary">
                                <span v-if="loading">Обновляем</span>
                                <span v-else>Обновить</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['user'],
        data() {
            return {
                active: this.getUserData('active'),
                first_name: this.getUserData('first_name'),
                last_name: this.getUserData('last_name'),
                email: this.getUserData('email'),
                current_password: '',
                password: '',
                password_confirmation: '',
                phone: this.getUserData('phone'),
                role: this.getUserData('roles').length ? this.getUserData('roles')[0].id : '',
                roles: [],
                errors: [],
                message: '',
                loading: false
            }
        },
        mounted() {
            this.getRoles();
            console.log(JSON.parse(this.user));
        },
        methods: {
            getUserData(key) {
                return JSON.parse(this.user)[key];
            },
            getRoles() {
                this.$http.get(this.$parent.MakeUrl('admin/users/roles')).then((res) => {
                    this.roles = res.data;
                }).catch((err) => {

                });
            },
            updateUser() {
                let _this = this;
                _this.errors = [];
                _this.message = '';
                _this.loading = true;
                this.$http.post(this.$parent.MakeUrl('admin/users/' + this.getUserData('id')), {
                    'active': this.active,
                    'first_name': this.first_name,
                    'last_name': this.last_name,
                    'email': this.email,
                    'current_password': this.current_password,
                    'role': this.role,
                    'password': this.password,
                    'password_confirmation': this.password_confirmation,
                    'phone': this.phone,
                    '_method': 'PATCH'
                }).then((res) => {
                    _this.loading = false;
                    _this.message = 'Данные профиля были успешно обновлены!';
                }).catch((err) => {
                    _this.errors = err.response.data.errors;
                    _this.loading = false;
                });
            }
        }
    }
</script>
