<template>
    <div class="row" v-if="$parent.userCan('manage-users')">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4>Пользователей <span v-if="total">({{ total }})</span></h4>
                </div>
                <div class="card-body p-0">
                    <div class="table-responsive table-invoice" v-if="!loading">
                        <table id="users-table" class="table table-striped" v-if="users.length">
                            <tbody>
                            <tr>
                                <th>Имя</th>
                                <th>Email</th>
                                <th>Дата.регистр</th>
                                <th>Роль</th>
                                <th></th>
                            </tr>
                            <tr v-for="(user, index) in users">
                                <td>{{ user.name }}</td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.created_at }}</td>
                                <td>
                                    <span
                                        class="badge badge-info"
                                        v-for="role in user.roles"
                                    >
                                        {{ role.name }}
                                    </span>
                                </td>
                                <td class="text-right">
                                    <button
                                        v-if="$parent.userCan('delete-users') && !user.isme"
                                        @click="deleteUser(user.id, index)"
                                        class="btn btn-danger"
                                    >
                                        <i class="fa fa-trash"></i>
                                    </button>
                                    <a
                                        v-if="$parent.userCan('edit-users')"
                                        :href="user.profilelink"
                                        class="btn btn-primary"
                                    >
                                        <i class="fa fa-edit"></i>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div v-if="!users.length" class="text-center p-3 text-muted">
                            <h5>Нет результатов</h5>
                            <p>Похоже, вы еще не добавили ни одного пользователя!</p>
                        </div>
                    </div>
                    <div class="text-center p-4 text-muted" v-else>
                        <h5>Загрузка</h5>
                        <p>Пожалуйста, подождите, данные загружаются...</p>
                    </div>
                </div>
            </div>
            <div
                class="text-center"
                v-if="users.length && total > users.length"
            >
                <button
                    :disabled="loading"
                    @click="loadUsers"
                    class="btn btn-primary"
                >
                    <span v-if="loading">
                        Загрузка <i class="fas fa-spinner fa-spin"></i>
                    </span>
                    <span v-else>Загрузить ещё</span>
                </button>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                users: [],
                total: 0,
                loading: false,
                loadingmore: false,
                query: '',
                url: ''
            }
        },
        mounted() {
            let query = location.search.split('query=')[1];
            if (query !== undefined) {
                this.query = query;
            }
            this.url = BaseUrl('admin/users?q=' + this.query);
            this.loadUsers();
        },
        methods: {
            loadUsers() {
                let _this = this;
                _this.loading = true;
                this.$http.get(_this.url).then((res) => {
                    _this.users = _this.users.concat(res.data.data);
                    _this.total = res.data.total;
                    _this.loading = false;
                    _this.url = res.data.next_page_url;
                }).catch((err) => {
                    _this.loading = false;
                });
            },
            deleteUser(userId, index) {
                let _this = this;
                this.$iosConfirm({
                    title: 'Вы уверены ?',
                    text: 'Пользователь и связанные с ним данные будут удалены навсегда. Выполнить?'
                }).then(function () {
                    this.$http.delete(_this.$parent.MakeUrl('admin/users/' + userId)).then((res) => {
                        _this.users.splice(index, 1);
                        _this.total = _this.total - 1;
                        _this.loadUsers();
                    }).catch(error => {
                        _this.$iosAlert({
                            'title': 'Ошибка',
                            'text': error.response.data.message
                        });
                    });
                });
            }
        }
    }
</script>
