<template>
    <section class="section">
        <div class="section-header">
            <div class="section-header-back">
                <a href="/admin/orders" class="btn btn-icon">
                    <i class="fas fa-arrow-left" />
                </a>
            </div>
            <h1>{{ pageTitle }}</h1>
        </div>

        <div class="section-body" v-if="!loading">
            <h2 class="section-title">{{ subTitle }}</h2>
            <p class="section-lead">
                {{ leadText }}
            </p>
            <div class="row">
                <div class="col-12 col-sm-6 col-lg-12">
                    <flash-message :type-error="typeError" :message="message" />
                    <form method="post" enctype="multipart/form-data">
                        <div class="card">
                            <div class="card-header">
                                <h4>{{ subTitle }}</h4>
                            </div>
                            <div class="card-body">
                                <order-tabs />
                                <order-fields
                                    :edit-mode="true"
                                    :order-fields="orderFields"
                                    :order-items="orderItems"
                                    :users="users"
                                    :offers="offers"
                                    :target-user="targetUser"
                                    :order-statuses="orderStatuses"
                                    :payment-statuses="paymentStatuses"
                                    :order-amount="orderAmount"
                                    :grand_total="grand_total"
                                    :item_count="item_count"
                                    @update-grand-total="updateGrandTotal"
                                    @update-item-count="updateItemCount"
                                />
                            </div>
                            <div class="card-footer">
                                <!-- Submit Field -->
                                <div class="form-group row col-mb-12">
                                    <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3" />
                                    <div class="col-sm-4 col-md-4">
                                        <button
                                            @click.prevent="updateOrder(orderNumber)"
                                            class="btn btn-primary"
                                        >Обновить</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <LoaderComponent v-else />
    </section>

</template>

<script>
    import OrderTabs from "./Shared/OrderTabs";
    import OrderFields from "./Shared/OrderFields";
    import FlashMessage from "../Shared/Common/FlashMessage";
    import LoaderComponent from "../Shared/Common/LoaderComponent";

    export default {
        name: "OrderEdit",
        props: {
            pageTitle: {
                type: String,
                required: true
            },
            subTitle: {
                type: String,
                required: true
            },
            leadText: {
                type: String,
                required: true
            },
            orderNumber: {
                type: String,
                required: true
            }
        },
        components: {
            OrderTabs,
            OrderFields,
            FlashMessage,
            LoaderComponent
        },
        data: () => ({
            orderFields: {
                address: '',
                city: '',
                comments: '',
                country: '',
                created_at: '',
                first_name: '',
                last_name: '',
                grand_total: '',
                item_count: null,
                order_number: '',
                payment_method: '',
                payment_status: '',
                phone_number: '',
                status: '',
                updated_at: '',
                user_id: null
            },
            orderItems: [],
            orderAmount: [],
            grand_total: 0,
            item_count: 0,
            users: [],
            targetUser: {},
            orderStatuses: {},
            paymentStatuses: {},
            offers: [],
            typeError: '',
            message: '',
            loading: false
        }),
        mounted() {
            this.fetchOrderFields(this.orderNumber);
        },
        methods: {
            updateGrandTotal(number) {
                this.grand_total = number;
            },
            updateItemCount(number) {
                this.item_count = number;
            },
            fetchOrderFields(orderNumber)
            {
                this.loading = true;
                this.$http.get(this.$parent.MakeUrl(`api/v1/orders/${orderNumber}`))
                    .then((response) => {
                    this.loading = false;
                    this.typeError = 'success';
                    this.message = response.data.message;
                    this.orderFields = response.data.data.order;
                    this.orderItems = response.data.data.orderItems;
                    this.offers = response.data.data.offers;
                    this.users = response.data.data.users;
                    this.targetUser = response.data.data.targetUser;
                    this.orderStatuses = response.data.data.orderStatuses;
                    this.paymentStatuses = response.data.data.paymentStatuses;
                })
            },
            updateOrder(orderNumber)
            {
                let orderFields = {
                    order_number: this.orderFields.order_number,
                    user_id: this.orderFields.user_id,
                    status: this.orderFields.status,
                    grand_total: this.grand_total,
                    item_count: this.item_count,
                    payment_status: 'no_paid',
                    payment_method: null,
                    first_name: this.orderFields.first_name,
                    last_name: this.orderFields.last_name,
                    address: this.orderFields.address,
                    city: this.orderFields.city,
                    country: this.orderFields.country,
                    post_code: this.orderFields.post_code,
                    phone_number: this.orderFields.phone_number,
                    comments: this.orderFields.comments
                };

                const _self = this;
                let _orderItems = [];
                _.forEach(this.orderItems, function (value, key) {
                    value['amount'] = _self.orderAmount[key];
                });

                _.forEach(this.orderItems, function (item, key) {
                    _orderItems.push({
                        id: item.id,
                        order_id: item.order_id,
                        offer_id: item.offer_id,
                        quantity: item.quantity,
                        price: item.price
                    })
                });

                this.loading = true;
                this.$http.post(this.$parent.MakeUrl(`api/v1/orders/${orderNumber}`), {
                    orderFields,
                    'orderItems': _orderItems,
                    _method: 'PATCH'
                }).then((res) => {
                    this.loading = false;
                    this.typeError = 'success';
                    this.message = res.data.message;
                    window.location.href = this.$parent.MakeUrl('/admin/orders');
                }).catch((err) => {
                    this.loading = false;
                    this.typeError = 'error';
                    this.message = err.data.message;
                })
            }
        },
    }
</script>
