<template>
    <section class="section">
        <div class="section-header">
            <div class="section-header-back">
                <a href="/admin/orders" class="btn btn-icon">
                    <i class="fas fa-arrow-left" />
                </a>
            </div>
            <h1>{{ pageTitle }}</h1>
        </div>

        <div class="section-body">
            <h2 class="section-title">{{ subTitle }}</h2>
            <p class="section-lead">
                {{ leadText }}
            </p>

            <div class="row">
                <div class="col-12 col-sm-6 col-lg-12">
                    <flash-messages-component />
                    <form method="post" enctype="multipart/form-data">
                    <div class="card">
                        <div class="card-header">
                            <h4>{{ subTitle }}</h4>
                        </div>
                        <div class="card-body">
                            <ul class="nav nav-tabs" id="myTab2" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="element-tab" data-toggle="tab" href="#element"
                                       role="tab"
                                       aria-controls="element" aria-selected="true">Элемент</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="preview-tab" data-toggle="tab" href="#preview" role="tab"
                                       aria-controls="description" aria-selected="false">Отзыв</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="images-tab" data-toggle="tab" href="#images" role="tab"
                                       aria-controls="images" aria-selected="false">Картинки</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="detail-tab" data-toggle="tab" href="#detail" role="tab"
                                       aria-controls="detail" aria-selected="false">Товар</a>
                                </li>
                            </ul>
                            @include('order::orders.fields')
                        </div>
                        <div class="card-footer">
                            <!-- Submit Field -->
                            <div class="form-group row col-mb-12">
                                <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3"/>
                                <div class="col-sm-4 col-md-4">
                                    {!! Form::submit('Создать', ['class' => 'btn btn-primary', 'id' => 'submitForm']) !!}
                                </div>
                            </div>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    export default {
        name: "OrderCreate"
    }
</script>

<style scoped>

</style>
