<template>
    <div class="card-body">

        <div class="form-group row col-md-12">
            <span class="col-form-label text-md-right col-12 col-md-3 col-lg-3">
                Активность:
            </span>
            <div class="custom-control custom-checkbox col-sm-12 col-md-7 d-flex align-self-center">
                <input
                    type="checkbox"
                    name="is_active"
                    id="is_active"
                    v-model="fields.is_active"
                    class="custom-control-input"
                    :disabled="readOnly"
                >
                <label class="custom-control-label ml-lg-3" for="is_active"></label>
            </div>
        </div>

        <div class="form-group row col-md-12 mb-4">
            <label
                class="col-form-label text-md-right col-12 col-md-3 col-lg-3 font-weight-bold"
                for="discount_id">Правило корзины
            </label>
            <div
                class="col-sm-12 col-md-7"
                v-if="discounts.length > 0"
            >
                <select
                    id="discount_id"
                    class="form-control"
                    name="discount_id"
                    v-model="fields.discount_id"
                    :disabled="this.readOnly"
                >
                    <option disabled>Выберите тип</option>
                    <option
                        v-for="discount of discounts"
                        :key="discount.id"
                        :value="discount.id">
                        {{ discount.name }}
                    </option>
                </select>
            </div>
            <span v-else>Создайте сначала скидку, чтобы продолжить.</span>
        </div>

        <div class="form-group row col-md-12">
            <label
                class="col-form-label text-md-right col-12 col-md-3 col-lg-3"
                for="code">Код на скидку</label>
            <div class="col-sm-12 col-md-6">
                <input
                    type="text"
                    name="code"
                    id="code"
                    class="form-control"
                    v-model="fields.code"
                    :disabled="readOnly"
                    v-uppercase
                >
            </div>
            <button
                class="btn btn-primary"
                @click.prevent="generateCoupon"
                v-if="!readOnly"
            >
                Сгенерировать купон
            </button>
        </div>

        <div class="form-group row col-md-12 mb-4">
            <label
                class="col-form-label text-md-right col-12 col-md-3 col-lg-3 font-weight-bold"
                for="type"
            >
                Тип купона
            </label>
            <div class="col-sm-12 col-md-7">
                <select
                    id="type"
                    class="form-control"
                    name="type"
                    v-model="fields.type"
                    :disabled="this.readOnly"
                >
                    <option disabled>Выберите тип</option>
                    <option
                        v-for="(couponType, key) of couponTypes"
                        :key="key"
                        :value="key">
                        {{ couponType }}
                    </option>
                </select>
            </div>
        </div>

        <div class="form-group row col-md-12 mb-4">
            <label
                class="col-form-label text-md-right col-12 col-md-3 col-lg-3 font-weight-bold"
                for="period_activity">Период активности:
            </label>
            <div class="col-sm-12 col-md-7">
                <select
                    id="period_activity"
                    class="form-control"
                    name="period_activity"
                    v-model="fields.period_activity"
                    :disabled="this.readOnly"
                >
                    <option disabled>Выберите тип</option>
                    <option
                        v-for="(couponTypeActivity, key) of couponActivityTypes"
                        :key="key"
                        :value="key">
                        {{ couponTypeActivity }}
                    </option>
                </select>
            </div>
        </div>

        <div class="form-group row col-md-12" v-if="fields.type === 'reusable'">
            <label
                class="col-form-label text-md-right col-12 col-md-3 col-lg-3"
                for="max_uses_count">Максимальное кол-во использований</label>
            <div class="col-sm-12 col-md-7">
                <input
                    type="text"
                    name="max_uses_count"
                    id="max_uses_count"
                    class="form-control"
                    v-model="fields.max_uses_count"
                    :disabled="readOnly"
                    v-number
                >
            </div>
        </div>

        <div class="form-group row col-md-12" v-if="fields.uses_user_count > 0">
            <label
                class="col-form-label text-md-right col-12 col-md-3 col-lg-3"
                for="uses_user_count">Кол-во использований купона</label>
            <div class="col-sm-12 col-md-7">
                <input
                    type="text"
                    name="uses_user_count"
                    id="uses_user_count"
                    class="form-control"
                    v-model="fields.uses_user_count"
                    :disabled="readOnly"
                    v-number
                >
            </div>
        </div>

        <div v-if="fields.period_activity === 'interval'">
            <!-- Activity End at Field -->
            <div class="form-group row col-md-12">
                <label
                    class="col-form-label text-md-right col-12 col-md-3 col-lg-3"
                    for="starts_at">Начинает действовать с:</label>
                <div class="col-sm-12 col-md-7">
                    <flat-pickr
                        v-model="fields.starts_at"
                        :config="config"
                        class="form-control"
                        placehoder="Выберите дату начала действия скидки"
                        name="starts_at"
                        id="starts_at"
                        :disabled="readOnly"
                    />
                </div>
            </div>

            <div class="form-group row col-md-12">
                <label
                    class="col-form-label text-md-right col-12 col-md-3 col-lg-3"
                    for="expires_at">Заканчивает действовать по:</label>
                <div class="col-sm-12 col-md-7">
                    <flat-pickr
                        v-model="fields.expires_at"
                        :config="config"
                        class="form-control"
                        placehoder="Выберите дату окончания действия скидки"
                        name="expires_at"
                        id="expires_at"
                        :disabled="readOnly"
                    />
                </div>
            </div>
        </div>

        <div class="form-group row col-md-12 mb-4">
            <label
                class="col-form-label text-md-right col-12 col-md-3 col-lg-3 font-weight-bold"
                for="owner">Владелец
            </label>
            <div class="col-sm-12 col-md-7">
                <select
                    id="owner"
                    class="form-control"
                    name="owner"
                    v-model="fields.user_id"
                    :disabled="this.readOnly"
                >
                    <option disabled>Выберите владельца</option>
                    <option
                        v-for="user in users"
                        :key="user.id"
                        :value="user.id">
                        {{ user.name }}
                    </option>
                </select>
            </div>
        </div>

        <div class="form-group row col-md-12 mb-4">
            <label
                class="col-form-label text-md-right col-12 col-md-3 col-lg-3 font-weight-bold"
                for="comments">Комментарий
            </label>
            <div class="col-sm-12 col-md-7">
                <textarea
                    name="comments"
                    id="comments"
                    cols="30"
                    class="form-control"
                    v-model="fields.comments"
                    :disabled="readOnly"
                />
            </div>
        </div>

    </div>
</template>

<script>
    import vSelect from 'vue-select';
    import 'vue-select/dist/vue-select.css';
    import flatPickr from 'vue-flatpickr-component';
    import {Russian} from 'flatpickr/dist/l10n/ru';
    import confirmDatePlugin from 'flatpickr/dist/plugins/confirmDate/confirmDate';
    import 'flatpickr/dist/flatpickr.min.css';
    import 'flatpickr/dist/themes/dark.css';


    export default {
        name: "CouponFields",
        props: {
            readOnly: {
                type: Boolean,
                required: true
            },
            fields: {
                type: Object,
                required: true
            },
            discounts: {
                type: Array,
                required: true
            },
            couponTypes: {
                type: Object,
                required: true
            },
            couponActivityTypes: {
                type: Object,
                required: true
            },
            users: {
                type: Array,
                required: true
            }
        },
        components: {
            flatPickr,
            vSelect
        },
        data: () => ({
            config: {
                wrap: true,
                altInput: false,
                enableTime: true,
                time_24hr: true,
                locale: Russian,
                theme: 'dark',
                plugins: [new confirmDatePlugin({
                    confirmText: "OK",
                    theme: 'dark',
                    showAlways: true
                })]
            }
        }),
        methods: {
            generateCoupon() {
                this.fields.code = Math.random()
                        .toString(36)
                        .substring(2, 15)
                    +
                    Math.random()
                        .toString(36)
                        .substring(2, 15);
            }
        }
    }
</script>

<style scoped>
</style>
