<template>
    <p class="text-muted p-2 text-center">
        У вас пока нету уведомлений.
    </p>
</template>

<script>
    export default {
        name: "NotificationEmpty"
    }
</script>

<style scoped>

</style>
