<template>
    <li class="dropdown dropdown-list-toggle">
        <a
            href="#"
            data-toggle="dropdown"
            class="nav-link notification-toggle nav-link-lg"
            :class="{'beep': unreadNotifications.length > 0}"
        >
            <i class="far fa-bell"></i>
        </a>
        <div class="dropdown-menu dropdown-list dropdown-menu-right">
            <div class="dropdown-header">
                Уведомления
                <div class="float-right">
                    <a
                        href="#"
                        class="check-as-read"
                        @click="makeAsRead"
                    >
                        Отметить как прочитанное
                    </a>
                </div>
            </div>
            <div class="dropdown-list-content dropdown-list-icons">
                <notification-item
                    :id="notification.id"
                    :message="notification.message"
                    :date="notification.date"
                    :type-notify="notification.typeNotify"
                    :url="notification.url"
                    v-if="unreadNotifications.length !== 0"
                    v-for="notification in this.unreadNotifications"
                    :key="notification.id"
                    @readNotification="readNotification($event, notification.id)"
                />
                <notification-empty v-if="unreadNotifications.length === 0"/>
            </div>
            <div class="dropdown-footer text-center">
                <a :href="`/admin/users/${this.userId}/notify/list`">Просмотреть все <i class="fas fa-chevron-right"></i></a>
            </div>
        </div>
    </li>
</template>
<script>

    import notificationItem from './NotificationItem';
    import notificationEmpty from './NotificationEmpty';

    export default {

        props: ['unreads', 'userId'],
        data() {
            return {
                unreadNotifications: []
            }
        },
        beforeMount: function () {
            for (let {id, type, data: {typeNotify, message, url}} of this.unreads) {
                this.unreadNotifications.push({id, type, typeNotify, message, url});
            }
        },
        mounted() {
            Echo.private('App.User.' + this.userId)
                .notification((notification) => {
                    this.unreadNotifications.push(notification);
                });
        },
        components: {
            notificationItem,
            notificationEmpty
        },
        methods: {
            makeAsRead() {
                if (this.unreadNotifications.length) {
                    this.$http.post(this.$parent.MakeUrl('/admin/notify/read')).then((response) => {
                        this.unreadNotifications = [];
                    });
                }
            },
            readNotification($event, id) {
                const idx = this.unreadNotifications.findIndex(notification => notification.id === id);
                let {url} = this.unreadNotifications.find(notification => notification.id === id);
                window.location = url;
                this.$http.post(this.$parent.MakeUrl(`/admin/notify/read/${id}`));
                this.notifications = [
                    ...this.notifications.slice(0, idx),
                    ...this.notifications.slice(idx + 1)
                ];
            }
        }
    }
</script>


<style scoped>

</style>
