<template>
    <button class="dropdown-item dropdown-item-unread" @click="$emit('readNotification')">
        <ImportFailed v-if="typeNotify === 'fail_import' "/>
        <ImportSuccess v-else-if="typeNotify === 'success_import' "/>
        <NewPartner v-else-if="typeNotify === 'new_partner' "/>
        <NewPartnerShop v-else-if="typeNotify === 'register_partnerShop' "/>
        <NewUser v-else-if="typeNotify === 'register_user' "/>
        <Other v-else />
        <div class="dropdown-item-desc">
            {{ message }}
            <div class="time text-primary">{{ date }}</div>
        </div>
    </button>
</template>

<script>

    import ImportFailed from "./Types/ImportFailed";
    import ImportSuccess from "./Types/ImportSuccess";
    import NewPartner from "./Types/NewPartner";
    import NewPartnerShop from "./Types/NewPartnerShop";
    import NewUser from './Types/NewUser';
    import Other from './Types/Other';

    export default {
        props: [
            'message',
            'date',
            'typeNotify',
            'url',
            'id'
        ],
        name: "NotificationItem",
        components: {
            ImportFailed,
            ImportSuccess,
            NewPartner,
            NewPartnerShop,
            NewUser,
            Other
        }
    }
</script>

<style scoped>

</style>
