<template>
    <div class="section-body">
        <h2 class="section-title">Список уведомлений</h2>
        <div class="row" v-if="!loading">
            <div class="col-12">
                <div class="activities">
                    <div class="activity" v-for="notification in notifications" :key="notification.id">
                        <!-- Import Fail type -->
                        <div
                            class="activity-icon bg-danger text-white shadow-primary"
                            v-if="notification.data.typeNotify === 'fail_import'"
                        >
                            <i class="fas fa-exclamation-triangle"></i>
                        </div>

                        <!-- Import Success type -->
                        <div
                            class="activity-icon bg-success text-white shadow-primary"
                            v-else-if="notification.data.typeNotify === 'success_import'"
                        >
                            <i class="fas fa-check"></i>
                        </div>

                        <!-- New Partner type -->
                        <div
                            class="activity-icon bg-primary text-white shadow-primary"
                            v-else-if="notification.data.typeNotify === 'new_partner'"
                        >
                            <i class="fas fa-user-tie"></i>
                        </div>

                        <!-- New PartnerShop type -->
                        <div
                            class="activity-icon bg-primary text-white shadow-primary"
                            v-else-if="notification.data.typeNotify === 'register_partnerShop'"
                        >
                            <i class="fas fa-store"></i>
                        </div>

                        <!-- New User type -->
                        <div
                            class="activity-icon bg-primary text-white shadow-primary"
                            v-else-if="notification.data.typeNotify === 'register_user'"
                        >
                            <i class="fas fa-user-plus"></i>
                        </div>

                        <!-- Other type -->
                        <div
                            class="activity-icon bg-primary text-white shadow-primary"
                            v-else
                        >
                            <i class="fas fa-bell"></i>
                        </div>

                        <div class="activity-detail">
                            <div class="mb-2">
                                <span class="text-job text-primary">{{ notification.created_at }} </span>
                                <span class="bullet"></span>
                                <div class="float-right dropdown">
                                    <a href="#" data-toggle="dropdown"><i class="fas fa-ellipsis-h"></i></a>
                                    <div class="dropdown-menu">
                                        <div class="dropdown-title">Параметры</div>
                                        <button
                                            ref="removeButton"
                                            class="dropdown-item has-icon text-danger"
                                            @click="deleteNotification(notification.id)"
                                        ><i class="fas fa-trash-alt"></i>Удалить</button>
                                        <div class="dropdown-divider"></div>

                                    </div>
                                </div>
                            </div>
                            <p>{{ notification.data.message }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <LoaderComponent v-else />
    </div>
</template>

<script>
    import Swal from 'sweetalert2';
    import LoaderComponent from "../Common/LoaderComponent";
    export default {
        props: ['userId'],
        name: "NotificationList",
        data: () => ({
            notifications: [],
            loading: false
        }),
        mounted() {
            this.loading = true;
            this.$http.get(this.$parent.MakeUrl(`/admin/notify/${this.userId}/list`)).then((response) => {
                this.notifications = response.data.data.notifications;
                this.loading = false;
            });
        },
        methods: {
            deleteNotification(id)
            {
                Swal.fire({
                    title: 'Вы уверены ?',
                    text: 'Уведомление невозможно будет вернуть.',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: "#d33",
                    confirmButtonText: 'Да, уверен',
                    cancelButtonText: 'Отмена'
                }).then((result) => {
                    if (result.value)
                    {
                        this.$http.post(this.$parent.MakeUrl(`/admin/notify/${id}/remove`))
                            .then((response) => {
                                this.notifications = response.data.data.notifications;
                                Swal.fire({
                                    title: 'Успешно',
                                    text: response.data.message,
                                    icon: 'success'
                                });
                        });
                    }
                });
            }
        },
        components: {
            LoaderComponent
        }
    }
</script>

<style scoped>

</style>
