<template>
    <div class="row mt-4">
        <div class="col-12 col-lg-8 offset-lg-2">
            <div class="wizard-steps">
                <div
                    class="wizard-step"
                    :class="currentStep === 1 ? 'wizard-step-active' : ''"
                >
                    <div class="wizard-step-icon">
                        <i class="fas fa-paint-roller"></i>
                    </div>
                    <div class="wizard-step-label">
                        Создание шаблона
                    </div>
                </div>
                <div
                    class="wizard-step"
                    :class="currentStep === 2 ? 'wizard-step-active' : ''"
                >
                    <div class="wizard-step-icon">
                        <i class="fas fa-envelope-open"></i>
                    </div>
                    <div class="wizard-step-label">
                        Создание рассылки
                    </div>
                </div>
                <div
                    class="wizard-step"
                    :class="currentStep === 3 ? 'wizard-step-active' : ''"
                >
                    <div class="wizard-step-icon">
                        <i class="fas fa-check-circle"></i>
                    </div>
                    <div class="wizard-step-label">
                        Подтверждение
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            currentStep: Number
        }
    }
</script>
