<template>
    <div class="wizard-pane">
        <!-- Start Text Editor -->
        <div class="md">
            <div class="md-inner">
                <div class="md-editor">
                    <div class="form-group">
                        <label>Шаблон <small>(HTML/MARKDOWN)</small></label>
                        <div class="form-lookup">
                            <tinyeditor
                                api-key="vm8x2l577t817xnwid9del9j5veabkes1sei9565itthyam2"
                                :initialValue="content"
                                :disabled="readOnly"
                                :init="{
                                     height: 500,
                                     menubar: true,
                                     language: 'ru',
                                     language_url: '/js/shared/tinymce/langs/ru.js',
                                     plugins: [
                                       'advlist autolink lists link image charmap print preview anchor',
                                       'searchreplace visualblocks code fullscreen',
                                       'insertdatetime media table paste code help wordcount'
                                     ],
                                     toolbar:
                                       'undo redo | formatselect | bold italic backcolor | \
                                       alignleft aligncenter alignright alignjustify | \
                                       bullist numlist outdent indent | removeformat | help'
                                   }"
                                v-model="content"
                            />
                        </div>
                    </div>
                </div>
                <div class="md-preview">
                    <div class="md-content" v-html="compiledMarkdown"></div>
                </div>
            </div>
        </div>
        <!-- End Text Editor -->

        <!-- Start Name E-mail newsletters -->
        <div class="form-group row col-md-12">
            <label
                class="col-form-label text-md-right col-12 col-md-3 col-lg-3"
                for="name">Название E-mail рассылки:</label>
            <div class="col-sm-12 col-md-7">
                <input
                    type="text"
                    name="name"
                    id="name"
                    class="form-control"
                    v-model="fields.name"
                    disabled
                >
            </div>
        </div>
        <!-- End Name E-mail newsletters -->

        <!-- Start Checkbox Send Now -->
        <div class="form-group row col-md-12">
            <span
                class="col-form-label text-md-right col-12 col-md-3 col-lg-3"
            >
                Отправить сразу:
            </span>
            <div
                class="custom-control custom-checkbox col-sm-12 col-md-7 d-flex align-self-center"
            >
                <input
                    type="checkbox"
                    name="send_now"
                    id="send_now"
                    class="custom-control-input"
                    v-model="fields.send_now"
                    disabled
                >
                <label
                    class="custom-control-label ml-lg-3"
                    for="send_now"></label>
            </div>
        </div>
        <!-- End Checkbox Send Now -->

        <!-- Start Send At field  -->
        <div class="form-group row col-md-12">
            <label
                for="send_at"
                class="col-form-label text-md-right col-12 col-md-3 col-lg-3"
            >
                Когда отправить:
            </label>
            <div class="col-sm-12 col-md-7">
                <date-pick
                    id="send_at"
                    v-model="fields.send_at"
                    :pickTime="true"
                    :hasInputElement="false"
                    :format="'YYYY-MM-DD HH:mm'"
                    :inputAttributes="{size: 32}"
                    nextMonthCaption="Следующий месяц"
                    prevMonthCaption="Предыдущий месяц"
                    setTimeCaption="Установить время"
                    :weekdays="['Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб', 'Вс']"
                    :months="[
                        'Январь', 'Февраль', 'Март', 'Апрель',
                        'Май', 'Июнь', 'Июль', 'Август',
                         'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь',
                    ]"
                    :editable="true"
                />
            </div>
        </div>
        <!-- End Send At field -->

        <!-- Start Title Mail Field -->
        <div class="form-group row col-md-12">
            <label
                for="title_mail"
                class="col-form-label text-md-right col-12 col-md-3 col-lg-3"
            >
                Тема письма:
            </label>
            <div class="col-sm-12 col-md-7">
                <input
                    type="email"
                    id="title_mail"
                    class="form-control"
                    name="title_mail"
                    v-model="fields.title_mail"
                    disabled
                >
            </div>
        </div>
        <!-- End Title Mail filed -->

        <!-- Start Mail from field -->
        <div class="form-group row col-md-12">
            <label
                for="mail_from"
                class="col-form-label text-md-right col-12 col-md-3 col-lg-3"
            >
                От:
            </label>
            <div class="col-sm-12 col-md-7">
                <input
                    type="email"
                    name="mail_from"
                    id="mail_from"
                    class="form-control"
                    v-model="fields.mail_from"
                    disabled
                >
            </div>
        </div>
        <!-- End Mail from field -->

        <!-- Start CC Field -->
        <div class="form-group row col-md-12">
            <label
                for="cc"
                class="col-form-label text-md-right col-12 col-md-3 col-lg-3"
            >
                Копия
            </label>
            <div class="col-sm-12 col-md-7">
                <input
                    type="email"
                    name="cc"
                    id="cc"
                    class="form-control"
                    v-model="fields.mail_cc"
                    disabled
                >
            </div>
        </div>
        <!-- End CC Field -->

        <!-- Start BCC Field -->
        <div class="form-group row col-md-12">
            <label
                for="bcc"
                class="col-form-label text-md-right col-12 col-md-3 col-lg-3"
            >
                Скрытая Копия
            </label>
            <div class="col-sm-12 col-md-7">
                <input
                    type="email"
                    name="bcc"
                    id="bcc"
                    class="form-control"
                    v-model="fields.mail_bcc"
                    disabled
                >
            </div>
        </div>
        <!-- End BCC Field -->
    </div>
</template>

<script>
    import DatePick from 'vue-date-pick';
    import 'vue-date-pick/dist/vueDatePick.css';
    import Editor from '@tinymce/tinymce-vue';
    import MarkdownIt from 'markdown-it';

    const md = new MarkdownIt({
        html: true,
        linkify: true,
        typographer: true,
    });

    export default {
        props: {
            content: String,
            fields: Object,
            readOnly: Boolean
        },
        computed: {
            compiledMarkdown() {
                return md.render(this.content || '')
            }
        },
        components: {
            DatePick,
            'tinyeditor': Editor
        }
    }
</script>

<style lang="scss">
    $box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
    .md {
        height: 100%;
        padding: 35px 50px;

        &-inner {
            height: 100%;
            box-shadow: $box-shadow;
            display: flex;
            flex-wrap: wrap;
        }

        &-btn {
            text-align: right;
        }

        &-editor {
            padding: 25px;
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
            width: 50%;
            background: #ffffff;
            overflow-y: scroll;
        }

        &-preview {
            padding: 25px;
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
            width: 50%;
            background: #f2f2f2;
            overflow-y: scroll;
        }

        &-subject {
            font-size: 16px;
            line-height: 20px;
            padding-bottom: 15px;
        }

        &-content {
            font-size: 16px;
            line-height: 20px;
            padding: 25px;
            background: #fff;

            img {
                display: block;
                width: 35%;
                margin: 0 auto;
            }

            h1 {
                text-align: center;
                margin-bottom: 30px;
            }
        }
    }

    .form {
        &-group {
            margin-bottom: 15px;

            label {
                display: block;
                font-size: 12px;
                line-height: 12px;
                margin-bottom: 5px;
                color: #666;
            }
        }

        &-control {
            color: #222;
            font-size: 14px;
            line-height: 17px;
            height: 32px;
            background: #fafafa;
            border: none;
            border-bottom: 1px solid rgba(0, 0, 0, 0.01);
            border-radius: 1px;
            box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.1);
            padding: 8px;
            width: 100%;
            display: block;

            &:focus {
                outline-style: dotted;
                outline-width: 1px;
                outline-offset: 1px;
            }

            &:active {
                box-shadow: inset $box-shadow;
            }
        }
    }

    textarea.form-control {
        height: 250px;
    }

</style>
