<template>
    <div class="wizard-pane">
        <!-- Start Name E-mail newsletters -->
        <div class="form-group row col-md-12">
            <label
                class="col-form-label text-md-right col-12 col-md-3 col-lg-3"
                for="name">Название E-mail рассылки:</label>
            <div class="col-sm-12 col-md-7">
                <input
                    type="text"
                    name="name"
                    id="name"
                    class="form-control"
                    v-model="formData.name"
                    :disabled="readOnly"
                >
            </div>
        </div>
        <!-- End Name E-mail newsletters -->

        <!-- Start Checkbox Send Now -->
        <div class="form-group row col-md-12">
            <span class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Отправить сразу:</span>
            <div class="custom-control custom-checkbox col-sm-12 col-md-7 d-flex align-self-center">
                <input
                    type="checkbox"
                    name="send_now"
                    id="send_now"
                    class="custom-control-input"
                    v-model="formData.send_now"
                    :disabled="readOnly"
                >
                <label class="custom-control-label ml-lg-3" for="send_now"></label>
            </div>
        </div>
        <!-- End Checkbox Send Now -->

        <!-- Start Send At field  -->
        <div class="form-group row col-md-12">
            <label
                for="send_at"
                class="col-form-label text-md-right col-12 col-md-3 col-lg-3"
            >
                Когда отправить:
            </label>
            <div class="col-sm-12 col-md-7">
                <flat-pickr
                    v-model="formData.send_at"
                    :config="config"
                    class="form-control"
                    placehoder="Выберите дату для отправки"
                    name="send_at"
                    id="send_at"
                    :disabled="readOnly"
                />
            </div>
        </div>
        <!-- End Send At field -->

        <!-- Start Title Mail Field -->
        <div class="form-group row col-md-12">
            <label for="title_mail" class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Тема письма:</label>
            <div class="col-sm-12 col-md-7">
                <input
                    type="text"
                    id="title_mail"
                    class="form-control"
                    name="title_mail"
                    :disabled="readOnly"
                    v-model="formData.title_mail"
                >
            </div>
        </div>
        <!-- End Title Mail filed -->

        <!-- Start Mail from field -->
        <div class="form-group row col-md-12">
            <label for="from" class="col-form-label text-md-right col-12 col-md-3 col-lg-3">От:</label>
            <div class="col-sm-12 col-md-7">
                <input
                    type="email"
                    name="from"
                    id="from"
                    class="form-control"
                    :disabled="readOnly"
                    v-model="formData.mail_from"
                >
            </div>
        </div>
        <!-- End Mail from field -->

        <!-- Start CC Field -->
        <div class="form-group row col-md-12">
            <label for="cc" class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Копия</label>
            <div class="col-sm-12 col-md-7">
                <input
                    type="email"
                    name="cc"
                    id="cc"
                    class="form-control"
                    v-model="formData.mail_cc"
                    :disabled="readOnly"
                >
            </div>
        </div>
        <!-- End CC Field -->

        <!-- Start BCC Field -->
        <div class="form-group row col-md-12">
            <label for="bcc" class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Скрытая Копия</label>
            <div class="col-sm-12 col-md-7">
                <input
                    type="email"
                    name="bcc"
                    id="bcc"
                    class="form-control"
                    v-model="formData.mail_bcc"
                    :disabled="readOnly"
                >
            </div>
        </div>
        <!-- End BCC Field -->
    </div>
</template>

<script>
    import flatPickr from 'vue-flatpickr-component';
    import { Russian } from 'flatpickr/dist/l10n/ru';
    import 'flatpickr/dist/flatpickr.min.css';
    import 'flatpickr/dist/themes/dark.css';

    export default {
        props: {
            formData: Object,
            readOnly: Boolean
        },
        components: {
            flatPickr
        },
        data: () => ({
            config: {
                wrap: true,
                altInput: false,
                enableTime: true,
                time_24hr: true,
                locale: Russian,
                theme: 'dark'
            }
        })
    }
</script>
