<template>
  <footer class="main-footer">
    <div class="footer-left">
      Все права защищены &copy; 2019 <div class="bullet"></div> Разработано в Веб-Студии <a href="https://integranta.ru/">Integranta</a>
    </div>
    <div class="footer-right">
      2.3.0
    </div>
  </footer>
</template>

<script>
    export default {
        name: "Footer"
    }
</script>

<style scoped>

</style>
