<template>
    <div class="row">
        <div class="col-12 col-sm-6 col-lg-12">
            <flash-messages-component :message="this.message" :typeError="this.typeError"/>
            <div class="card">
                <div class="card-header">
                    <h4>{{ subtitle }}</h4>
                </div>
                <div class="card-body">
                    <!-- Step block -->
                    <name-steps-newsletter-component :current-step="currentStep"/>
                    <!-- Close Step block -->

                    <!-- Form -->
                    <div class="wizard-content mt-2">
                        <newsletter-first-step-component
                            v-if="currentStep === 1"
                            :form-data="stepFirst"
                            :read-only="readOnly"
                        />
                        <newsletter-second-step-component
                            v-if="currentStep === 2"
                            :form-data="stepSecond"
                            :read-only="readOnly"
                        />
                        <newsletter-three-step-component
                            v-if="currentStep === 3"
                            :content="stepFirst.content"
                            :fields="stepSecond"
                            :read-only="readOnly"
                        />
                    </div>
                    <!-- Close Form -->
                </div>
                <div class="card-footer">
                    <!-- Submit Field -->
                    <div class="form-group row col-mb-12">
                        <label class="col-form-label text-md-right col-12 col-md-3 col-lg-2"/>
                        <div class="col-sm-4 col-md-4">
                            <button
                                @click="cancel"
                                class="btn btn-danger"
                            >Отмена
                            </button>
                        </div>
                        <div class="col-sm-4 col-md-4 text-right">

                            <button
                                class="btn btn-icon icon-right btn-primary"
                                v-if="this.currentStep > 1"
                                @click="goBack"
                            >
                                Назад <i class="fas fa-arrow-left"/></button>

                            <button
                                class="btn btn-icon icon-right btn-primary"
                                @click="goNext"
                                v-if="this.currentStep < 3"
                            >
                            Далее <i class="fas fa-arrow-right"/>
                            </button>

                            <button
                                class="btn btn-success"
                                v-if="this.currentStep === 3"
                                @click="send"
                            >
                                Сохранить
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            subtitle: String
        },
        data: () => ({
            currentStep: 1,
            message: '',
            typeError: '',
            readOnly: false,
            stepFirst: {
                content: ''
            },
            stepSecond: {
                name: '',
                title_mail: '',
                mail_from: '',
                mail_cc: '',
                mail_bcc: '',
                sended_at: null,
                send_at: '',
                send_now: false,
            }
        }),
        methods: {
            goNext() {
                if (this.currentStep < 3) {
                    this.currentStep++;
                }
            },
            goBack() {
                if (this.currentStep > 1) {
                    this.currentStep--;
                }
            },
            cancel() {
                window.location = '/admin/newsletters'
            },
            send() {
                let formData = Object.assign({}, this.stepFirst, this.stepSecond);

                this.$http({
                    method: 'post',
                    data: formData,
                    url: 'api/v1/newsletters'
                }).then((response) => {
                    this.currentStep = 1;
                    this.typeError = 'success';
                    this.message = response.data.message;
                    this.stepFirst = {
                        content: ''
                    };
                    this.stepSecond = {
                        name: '',
                        title_mail: '',
                        mail_from: '',
                        mail_cc: '',
                        mail_bcc: '',
                        sended_at: null,
                        send_at: '',
                        send_now: false
                    }
                }).catch(error => {
                    this.typeError = 'error';
                    this.message = error.message;
                    console.log(error);
                });
            }
        }
    }
</script>
