<template>
    <div class="card-body">
        <ul class="nav nav-tabs" id="myTab2" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="params-tab" data-toggle="tab" href="#params"
                   role="tab"
                   aria-controls="params" aria-selected="true">Общие параметры</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="actions-tab" data-toggle="tab" href="#actions" role="tab"
                   aria-controls="actions" aria-selected="false">Действия</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="limitations-tab" data-toggle="tab" href="#limitations" role="tab"
                   aria-controls="limitations" aria-selected="false">Ограничения</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="coupons-tab" data-toggle="tab" href="#coupons" role="tab"
                   aria-controls="coupons" aria-selected="false">Купоны</a>
            </li>
        </ul>
        <div class="tab-content tab-bordered">
            <div class="tab-pane fade show active" id="params" role="tabpanel" aria-labelledby="params-tab">
                <div
                    class="form-group row col-md-12"
                >
                    <label
                        class="col-form-label text-md-right col-12 col-md-3 col-lg-3"
                        for="name">
                        <span class="font-weight-bold">Название скидки</span>
                    </label>
                    <div class="col-sm-12 col-md-7">
                        <input
                            type="text"
                            name="name"
                            id="name"
                            class="form-control"
                            v-model.trim="fields.name"
                            :disabled="readOnly"
                            required
                        >
                    </div>
                </div>
                <div class="form-group row col-md-12 mb-4">
                    <label
                        class="col-form-label text-md-right col-12 col-md-3 col-lg-3 font-weight-bold"
                        for="type">
                        <span class="font-weight-bold">Тип скидки</span>
                    </label>
                    <div class="col-sm-12 col-md-7">
                        <select
                            id="type"
                            class="form-control"
                            name="type"
                            v-model="fields.selected_discountType"
                            :disabled="this.readOnly"
                            required
                        >
                            <option disabled>Выберите тип</option>
                            <option
                                v-for="(discountType, key) of discountTypes"
                                :key="key"
                                :value="key">
                                {{ discountType }}
                            </option>
                        </select>
                    </div>
                </div>

                <div class="form-group row col-md-12 mb-4">
                    <label
                        class="col-form-label text-md-right col-12 col-md-3 col-lg-3 font-weight-bold"
                        for="discount_period_activity">Период активности:
                    </label>
                    <div class="col-sm-12 col-md-7">
                        <select
                            id="discount_period_activity"
                            class="form-control"
                            name="discount_period_activity"
                            v-model="fields.selected_discountPeriodActivityType"
                            :disabled="this.readOnly"
                            required
                        >
                            <option disabled>Выберите тип</option>
                            <option
                                v-for="(discountTypeActivity, key) of discountPeriodActivities"
                                :key="key"
                                :value="key">
                                {{ discountTypeActivity }}
                            </option>
                        </select>
                    </div>
                </div>

                <div v-if="fields.selected_discountPeriodActivityType === 'interval'">
                    <!-- Activity End at Field -->
                    <div class="form-group row col-md-12">
                        <label
                            class="col-form-label text-md-right col-12 col-md-3 col-lg-3"
                            for="starts_at">Начинает действовать с:</label>
                        <div class="col-sm-12 col-md-7">
                            <flat-pickr
                                v-model="fields.starts_at"
                                :config="config"
                                class="form-control"
                                placehoder="Выберите дату начала действия скидки"
                                name="starts_at"
                                id="starts_at"
                                :disabled="readOnly"
                            />
                        </div>
                    </div>

                    <div class="form-group row col-md-12">
                        <label
                            class="col-form-label text-md-right col-12 col-md-3 col-lg-3"
                            for="expires_at">Заканчивает действовать по:</label>
                        <div class="col-sm-12 col-md-7">
                            <flat-pickr
                                v-model="fields.expires_at"
                                :config="config"
                                class="form-control"
                                placehoder="Выберите дату окончания действия скидки"
                                name="expires_at"
                                id="expires_at"
                                :disabled="readOnly"
                            />
                        </div>
                    </div>
                </div>

                <div class="form-group row col-md-12">
                    <span class="col-form-label text-md-right col-12 col-md-3 col-lg-3">
                        Прекратить дальнейшее применение правил:
                    </span>
                    <div class="custom-control custom-checkbox col-sm-12 col-md-7 d-flex align-self-center">
                        <input
                            type="checkbox"
                            name="is_fixed"
                            id="is_fixed"
                            v-model="fields.is_fixed"
                            class="custom-control-input"
                            :disabled="readOnly"
                        >
                        <label class="custom-control-label ml-lg-3" for="is_fixed"></label>
                    </div>
                </div>

                <div class="form-group row col-md-12">
                    <label
                        class="col-form-label text-md-right col-12 col-md-3 col-lg-3"
                        for="description">Описание</label>
                    <div class="col-sm-12 col-md-7">
                        <textarea
                            class="form-control col-"
                            id="description"
                            rows="3"
                            v-model="fields.description"
                            :disabled="readOnly"
                        />
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="actions" role="tabpanel" aria-labelledby="actions-tab">
                <div class="form-group row col-md-12">
                    <label
                        class="col-form-label text-md-right col-12 col-md-3 col-lg-3"
                        for="amount">
                        <span class="font-weight-bold">Значение скидки</span>
                    </label>
                    <div class="col-sm-12 col-md-7">
                        <input
                            type="text"
                            name="amount"
                            id="amount"
                            class="form-control"
                            v-model="fields.amount"
                            :disabled="readOnly"
                            v-number
                            required
                        >
                    </div>
                </div>

                <div class="form-group row col-md-12 mb-4">
                    <label
                        class="col-form-label text-md-right col-12 col-md-3 col-lg-3 font-weight-bold"
                        for="amount_type">
                        <span class="font-weight-bold">Значение скидки равна в</span>
                    </label>
                    <div class="col-sm-12 col-md-7">
                        <select
                            id="amount_type"
                            class="form-control"
                            name="amount_type"
                            v-model="fields.selected_discountAmountType"
                            :disabled="this.readOnly"
                            required
                        >
                            <option disabled>Выберите тип</option>
                            <option
                                v-for="(discountAmountType, key) of discountAmountTypes"
                                :key="key"
                                :value="key">
                                {{ discountAmountType }}
                            </option>
                        </select>
                    </div>
                </div>


                <!-- Product_id Field -->
                <div class="form-group row col-md-12 mb-4">
                    <label
                        class="col-form-label text-md-right col-12 col-md-3 col-lg-3 font-weight-bold"
                        for="offers">
                        <span class="font-weight-bold">Товар(ы)</span>
                    </label>
                    <div class="col-sm-12 col-md-7">
                        <v-select
                            :disabled="readOnly"
                            id="offers"
                            name="offers[]"
                            label="name"
                            v-model="fields.selected_offers"
                            :options="offers"
                            multiple
                            required
                        />
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="limitations" role="tabpanel" aria-labelledby="limitations-tab">
                <div class="form-group row col-md-12">
                    <label
                        class="col-form-label text-md-right col-12 col-md-3 col-lg-3"
                        for="roles"
                    >
                        <span class="font-weight-bold">
                            Группы пользователей, на которые распространяется правило:
                        </span>
                    </label>
                    <div class="col-sm-12 col-md-7">
                        <v-select
                            :disabled="readOnly"
                            id="roles"
                            name="roles[]"
                            label="name"
                            v-model="fields.selected_roles"
                            :options="roles"
                            multiple
                            required
                        />
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="coupons" role="tabpanel" aria-labelledby="coupons-tab">
                <CouponTable :coupons="fields.coupons" v-if="fields.coupons.length > 0"/>
                <div v-else>
                    <div class="form-group row col-md-12">
                    <span class="col-form-label text-md-right col-12 col-md-3 col-lg-3">
                        Создать купон при сохранений скидки:
                    </span>
                        <div class="custom-control custom-checkbox col-sm-12 col-md-7 d-flex align-self-center">
                            <input
                                type="checkbox"
                                name="save_coupon"
                                id="save_coupon"
                                v-model="fields.save_coupon"
                                class="custom-control-input"
                                :disabled="readOnly"
                            >
                            <label class="custom-control-label ml-lg-3" for="save_coupon"></label>
                        </div>
                    </div>

                    <div class="form-group row col-md-12" v-if="fields.save_coupon">
                        <label
                            class="col-form-label text-md-right col-12 col-md-3 col-lg-3"
                            for="couponType">Код на скидку</label>
                        <div class="col-sm-12 col-md-6">
                            <input
                                type="text"
                                name="couponType"
                                id="couponType"
                                class="form-control"
                                v-model="couponFields.code"
                                :disabled="readOnly"
                                v-uppercase
                            >
                        </div>
                        <button class="btn btn-primary" @click.prevent="generateCoupon">Сгенерировать купон</button>
                    </div>

                    <div class="form-group row col-md-12 mb-4" v-if="fields.save_coupon">
                        <label
                            class="col-form-label text-md-right col-12 col-md-3 col-lg-3 font-weight-bold"
                            for="couponTypes">Тип купона
                        </label>
                        <div class="col-sm-12 col-md-7">
                            <select
                                id="couponTypes"
                                class="form-control"
                                name="couponTypes"
                                v-model="couponFields.selected_couponType"
                                :disabled="this.readOnly"
                            >
                                <option disabled>Выберите тип</option>
                                <option
                                    v-for="(couponType, key) of couponTypes"
                                    :key="key"
                                    :value="key">
                                    {{ couponType }}
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row col-md-12 mb-4" v-if="fields.save_coupon">
                        <label
                            class="col-form-label text-md-right col-12 col-md-3 col-lg-3 font-weight-bold"
                            for="period_activity">Период активности:
                        </label>
                        <div class="col-sm-12 col-md-7">
                            <select
                                id="period_activity"
                                class="form-control"
                                name="period_activity"
                                v-model="couponFields.selected_couponPeriodActivityType"
                                :disabled="this.readOnly"
                            >
                                <option disabled>Выберите тип</option>
                                <option
                                    v-for="(couponTypeActivity, key) of couponPeriodActivities"
                                    :key="key"
                                    :value="key">
                                    {{ couponTypeActivity }}
                                </option>
                            </select>
                        </div>
                    </div>

                    <div
                        class="form-group row col-md-12"
                        v-if="couponFields.selected_couponType === 'reusable' && fields.save_coupon"
                    >
                        <label
                            class="col-form-label text-md-right col-12 col-md-3 col-lg-3"
                            for="max_uses_coupon_count">Максимальное кол-во использований</label>
                        <div class="col-sm-12 col-md-7">
                            <input
                                type="text"
                                name="max_uses_coupon_count"
                                id="max_uses_coupon_count"
                                class="form-control"
                                v-model="couponFields.max_uses_count"
                                :disabled="readOnly"
                                v-number
                            >
                        </div>
                    </div>

                    <div
                        v-if="couponFields.selected_couponPeriodActivityType === 'interval' && fields.save_coupon"
                    >
                        <!-- Activity End at Field -->
                        <div class="form-group row col-md-12">
                            <label
                                class="col-form-label text-md-right col-12 col-md-3 col-lg-3"
                                for="coupon_starts_at">Начинает действовать с:</label>
                            <div class="col-sm-12 col-md-7">
                                <flat-pickr
                                    v-model="couponFields.starts_at"
                                    :config="config"
                                    class="form-control"
                                    placehoder="Выберите дату начала действия купона"
                                    name="coupon_starts_at"
                                    id="coupon_starts_at"
                                    :disabled="readOnly"
                                />
                            </div>
                        </div>

                        <div class="form-group row col-md-12">
                            <label
                                class="col-form-label text-md-right col-12 col-md-3 col-lg-3"
                                for="coupon_expires_at">Заканчивает действовать по:</label>
                            <div class="col-sm-12 col-md-7">
                                <flat-pickr
                                    v-model="couponFields.expires_at"
                                    :config="config"
                                    class="form-control"
                                    placehoder="Выберите дату окончания действия купона"
                                    name="coupon_expires_at"
                                    id="coupon_expires_at"
                                    :disabled="readOnly"
                                />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import vSelect from 'vue-select';
    import 'vue-select/dist/vue-select.css';
    import flatPickr from 'vue-flatpickr-component';
    import {Russian} from 'flatpickr/dist/l10n/ru';
    import confirmDatePlugin from 'flatpickr/dist/plugins/confirmDate/confirmDate';
    import 'flatpickr/dist/flatpickr.min.css';
    import 'flatpickr/dist/themes/dark.css';
    import CouponTable from "../../../Coupon/CouponTable";

    export default {
        name: "DiscountPartnerFields",
        props: {
            readOnly: {
                type: Boolean,
                required: true
            },
            fields: {
                type: Object,
                required: true
            },
            offers: {
                type: Array,
                required: true
            },
            roles: {
                type: Array,
                required: true
            },
            discountTypes: {
                type: Object,
                required: true
            },
            discountAmountTypes: {
                type: Object,
                required: true
            },
            discountPeriodActivities: {
                type: Object,
                required: true
            },
            couponFields: {
                type: Object,
                required: true
            },
            couponTypes: {
                type: Object,
                required: true
            },
            couponPeriodActivities: {
                type: Object,
                required: true
            }
        },
        components: {
            flatPickr,
            vSelect,
            CouponTable
        },
        data: () => ({
            config: {
                wrap: true,
                altInput: false,
                enableTime: true,
                time_24hr: true,
                locale: Russian,
                theme: 'dark',
                plugins: [new confirmDatePlugin({
                    confirmText: "OK",
                    theme: 'dark',
                    showAlways: true
                })]
            }
        }),
        methods: {
            generateCoupon() {
                this.couponFields.code = Math.random()
                        .toString(36)
                        .substring(2, 15)
                    +
                    Math.random()
                        .toString(36)
                        .substring(2, 15);
            }
        }
    }
</script>

<style scoped>
</style>
