<template>
    <div class="row">
        <div class="col-12">
            <div class="alert alert-primary" v-if="message">
                {{ message }}
            </div>
            <div class="card">
                <div class="card-header">
                    <h4>Просмотр информации об партнёре и магазине</h4>
                </div>
                <div class="card-body">
                    <div class="form-group row mb-4">
                        <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Фамилия</label>
                        <div class="col-sm-12 col-md-7">
                            <input
                                type="text"
                                v-model="first_name"
                                class="form-control"
                                disabled
                            >
                        </div>
                    </div>
                    <div class="form-group row mb-4">
                        <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Имя</label>
                        <div class="col-sm-12 col-md-7">
                            <input
                                type="text"
                                v-model="last_name"
                                class="form-control"
                                disabled
                            >
                        </div>
                    </div>
                    <div class="form-group row mb-4">
                        <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Номер телефона</label>
                        <div class="col-sm-12 col-md-7">
                            <input
                                type="tel"
                                v-model="phone"
                                class="form-control"
                                disabled
                            >
                        </div>
                    </div>
                    <div class="form-group row mb-4">
                        <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Email</label>
                        <div class="col-sm-12 col-md-7">
                            <input
                                type="email"
                                v-model="email"
                                class="form-control"
                                disabled
                            >
                        </div>
                    </div>
                    <!-- End User Info  -->

                    <div class="form-group row mb-4">
                        <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Название магазина-партнёра</label>
                        <div class="col-sm-12 col-md-7">
                            <input
                                type="text"
                                v-model="shop_name"
                                class="form-control"
                                disabled
                            >
                        </div>
                    </div>
                    <div class="form-group row mb-4">
                        <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Полное наименование юр.лица</label>
                        <div class="col-sm-12 col-md-7">
                            <input
                                type="text"
                                v-model="law_shop_name"
                                class="form-control"
                                disabled
                            >
                        </div>
                    </div>
                    <div class="form-group row mb-4">
                        <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">ИНН</label>
                        <div class="col-sm-12 col-md-7">
                            <input
                                type="text"
                                v-model="inn"
                                class="form-control"
                                disabled
                            >
                        </div>
                    </div>
                    <div class="form-group row mb-4">
                        <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">КПП</label>
                        <div class="col-sm-12 col-md-7">
                            <input
                                type="text"
                                v-model="kpp"
                                class="form-control"
                                disabled
                            >
                        </div>
                    </div>

                    <div class="form-group row mb-4">
                        <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Адрес</label>
                        <div class="col-sm-12 col-md-7">
                            <input
                                type="text"
                                v-model="address"
                                class="form-control"
                                disabled
                            >
                        </div>
                    </div>
                    <div class="form-group row mb-4">
                        <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Город</label>
                        <div class="col-sm-12 col-md-7">
                            <input
                                type="text"
                                v-model="city"
                                class="form-control"
                                disabled
                            >
                        </div>
                    </div>
                    <div class="form-group row mb-4">
                        <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Почтовый индекс</label>
                        <div class="col-sm-12 col-md-7">
                            <input
                                type="text"
                                v-model="post_index"
                                class="form-control"
                                disabled
                            >
                        </div>
                    </div>


                    <div class="form-group row mb-4">
                        <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3"></label>
                        <div class="col-sm-12 col-md-7">
                            <a
                                class="btn btn-primary"
                                href="/admin/partners/"
                            >
                                Назад
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['partner'],
        data() {
            return {
                partner_shop_id: this.getPartnerShopData('id'),
                first_name: this.getUserData('first_name'),
                last_name: this.getUserData('last_name'),
                phone: this.getUserData('phone'),
                email: this.getUserData('email'),
                shop_name: this.getPartnerShopData('shop_name'),
                law_shop_name: this.getPartnerShopData('law_shop_name'),
                inn: this.getPartnerShopData('inn'),
                kpp: this.getPartnerShopData('kpp'),
                address: JSON.parse(this.getPartnerShopData('address')),
                city: this.getPartnerShopData('city'),
                post_index: this.getPartnerShopData('post_index'),
                role: '',
                roles: [],
                errors: [],
                message: '',
                loading: false
            }
        },
        mounted() {
            this.getRoles();
        },
        methods: {
            getPartnerShopData(key) {
                return JSON.parse(JSON.stringify(this.partner.partner_shops[0][key]));
            },
            getUserData(key) {
                return JSON.parse(JSON.stringify(this.partner.user[key]));
            },
            getRoles() {
                this.$http.get(this.$parent.MakeUrl('admin/users/roles')).then((res) => {
                    this.roles = res.data;
                }).catch((err) => {
                    this.message = 'Что-то пошло не так';
                });
            }
        }
    }
</script>
