<template>
    <div class="row">
        <div class="col-12">
            <div class="alert alert-primary" v-if="message">
                {{ message }}
            </div>
            <div class="card">
                <div class="card-header">
                    <h4>Создание партнёра</h4>
                </div>
                <div class="card-body">
                    <div class="form-group row mb-4">
                        <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Фамилия</label>
                        <div class="col-sm-12 col-md-7">
                            <input
                                v-bind:class="{'is-invalid': errors.first_name}"
                                type="text"
                                v-model="first_name"
                                class="form-control">
                            <div class="invalid-feedback" v-if="errors.first_name"
                            >
                                <p>{{ errors.first_name[0] }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row mb-4">
                        <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Имя</label>
                        <div class="col-sm-12 col-md-7">
                            <input
                                v-bind:class="{'is-invalid': errors.last_name}"
                                type="text"
                                v-model="last_name"
                                class="form-control">
                            <div class="invalid-feedback" v-if="errors.last_name"
                            >
                                <p>{{ errors.last_name[0] }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row mb-4">
                        <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Номер телефона</label>
                        <div class="col-sm-12 col-md-7">
                            <masked-input
                                id="phone"
                                v-model="phone"
                                class="form-control"
                                :class="{ 'is-invalid': errors.phone }"
                                type="tel"
                                name="phone"
                                :mask="['+', /[1-9]/, '(', /[1-9]/, /\d/, /\d/, ')', /\d/, /\d/, /\d/, '-', /\d/, /\d/, '-', /\d/, /\d/]"
                                :guide="false"
                                placeholder-char="#"
                                placeholder="+_(___)___-__-__"
                                required
                            ></masked-input>
                            <div class="invalid-feedback" v-if="errors.phone">
                                <p>{{ errors.phone[0] }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row mb-4">
                        <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Email</label>
                        <div class="col-sm-12 col-md-7">
                            <input
                                v-bind:class="{'is-invalid': errors.email}"
                                type="email"
                                v-model="email"
                                class="form-control"
                            >
                            <div class="invalid-feedback" v-if="errors.email">
                                <p>{{ errors.email[0] }}</p>
                            </div>
                        </div>
                    </div>
                    <!-- End User Info  -->

                    <div class="form-group row mb-4">
                        <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">
                            Название магазина-партнёра
                        </label>
                        <div class="col-sm-12 col-md-7">
                            <input
                                v-bind:class="{'is-invalid': errors.shop_name}"
                                type="text"
                                v-model="shop_name"
                                class="form-control"
                            >
                            <div class="invalid-feedback" v-if="errors.shop_name">
                                <p>{{ errors.shop_name[0] }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row mb-4">
                        <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">
                            Полное наименование юр.лица
                        </label>
                        <div class="col-sm-12 col-md-7">
                            <input
                                v-bind:class="{'is-invalid': errors.law_shop_name}"
                                type="text"
                                v-model="law_shop_name"
                                class="form-control"
                            >
                            <div class="invalid-feedback" v-if="errors.law_shop_name">
                                <p>{{ errors.law_shop_name[0] }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row mb-4">
                        <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">ИНН</label>
                        <div class="col-sm-12 col-md-7">
                            <input
                                v-bind:class="{'is-invalid': errors.inn}"
                                type="text"
                                v-model="inn"
                                class="form-control"
                            >
                            <div class="invalid-feedback" v-if="errors.inn">
                                <p>{{ errors.inn[0] }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row mb-4">
                        <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">КПП</label>
                        <div class="col-sm-12 col-md-7">
                            <input
                                v-bind:class="{'is-invalid': errors.kpp}"
                                type="text"
                                v-model="kpp"
                                class="form-control"
                            >
                            <div class="invalid-feedback" v-if="errors.kpp">
                                <p>{{ errors.kpp[0] }}</p>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row mb-4">
                        <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Адрес</label>
                        <div class="col-sm-12 col-md-7">
                            <input
                                v-bind:class="{'is-invalid': errors.address}"
                                type="text"
                                v-model="address"
                                class="form-control"
                            >
                            <div class="invalid-feedback" v-if="errors.address">
                                <p>{{ errors.address[0] }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row mb-4">
                        <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Город</label>
                        <div class="col-sm-12 col-md-7">
                            <input
                                v-bind:class="{'is-invalid': errors.city}"
                                type="text"
                                v-model="city"
                                class="form-control"
                            >
                            <div class="invalid-feedback" v-if="errors.city">
                                <p>{{ errors.city[0] }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row mb-4">
                        <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Почтовый индекс</label>
                        <div class="col-sm-12 col-md-7">
                            <input
                                v-bind:class="{'is-invalid': errors.post_index}"
                                type="text"
                                v-model="post_index"
                                class="form-control"
                            >
                            <div class="invalid-feedback" v-if="errors.post_index">
                                <p>{{ errors.post_index[0] }}</p>
                            </div>
                        </div>
                    </div>


                    <div class="form-group row mb-4">
                        <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3"></label>
                        <div class="col-sm-12 col-md-7">
                            <button
                                v-bind:disabled="loading"
                                @click="createPartner"
                                class="btn btn-primary"
                            >
                                <span v-if="loading">Регистрируем...</span>
                                <span v-else>Сохранить</span>
                            </button>
                            <a
                                class="btn btn-danger"
                                href="/admin/partners/"
                            >
                                Отмена
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import MaskedInput from 'vue-text-mask';

    export default {
        props: ['partner'],
        data() {
            return {
                first_name: '',
                last_name: '',
                phone: '',
                email: '',
                shop_name: '',
                law_shop_name: '',
                inn: '',
                kpp: '',
                address: '',
                city: '',
                post_index: '',
                role: '',
                roles: [],
                errors: [],
                message: '',
                loading: false
            }
        },
        mounted() {
            this.getRoles();
            console.log(this.partner);
        },
        methods: {
            getRoles() {
                this.$http.get(this.$parent.MakeUrl('admin/users/roles')).then((res) => {
                    this.roles = res.data;
                }).catch((err) => {
                    this.message = 'Что-то пошло не так';
                });
            },
            resetForm() {
                this.first_name = '';
                this.last_name = '';
                this.email = '';
                this.phone = '';
                this.shop_name = '';
                this.law_shop_name = '';
                this.inn = '';
                this.kpp = '';
                this.address = '';
                this.city = '';
                this.post_index = '';
            },
            createPartner() {
                let _this = this;
                _this.errors = [];
                _this.message = '';
                _this.loading = true;
                this.$http.post(
                    this.$parent.MakeUrl('admin/partners'),
                    {
                        'first_name': this.first_name,
                        'last_name': this.last_name,
                        'email': this.email,
                        'phone': this.phone,
                        'shop_name': this.shop_name,
                        'law_shop_name': this.law_shop_name,
                        'inn': this.inn,
                        'kpp': this.kpp,
                        'city': this.city,
                        'address': JSON.stringify(this.address),
                        'post_index': this.post_index,
                    })
                    .then((res) => {
                        console.log(res);
                        _this.loading = false;
                        _this.resetForm();
                        _this.message = 'Данные об партнёре и магазине были успешно лобавлены!';
                    }).catch((err) => {
                    _this.errors = err.response.data.errors;
                    _this.loading = false;
                });
            }
        },
        components: {
            MaskedInput
        }
    }
</script>
