<template>
    <vue-bootstrap4-table
            :classes="classes"
            :columns="columns"
            :config="config"
            :rows="rows"
    >
        <template slot="action-slot" slot-scope="props">
            <button
                    @click="onShow(props.row)"
                    class="btn btn-success btn-sm"
                    type="button"
                    v-if="$can(namePermissionShow)"
            >
                <i class="fa fa-eye"></i>
            </button>
            <button
                    @click="onEdit(props.row)"
                    class="btn btn-primary btn-sm"
                    type="button"
                    v-if="$can(namePermissionEdit)"
            >
                <i class="fa fa-edit"></i>
            </button>
            <button
                    @click="onDelete(props.row)"
                    class="btn btn-danger btn-sm"
                    type="button"
                    v-if="$can(namePermissionDelete)"
            >
                <i class="fa fa-trash"></i>
            </button>
        </template>
        <template slot="pagination-info" slot-scope="props">
            Показано строк: {{props.currentPageRowsLength}} |
            Отфильтровано строк: {{props.filteredRowsLength}} |
            Всего строк: {{props.originalRowsLength}}
        </template>
        <template slot="selected-rows-info" slot-scope="props">
            Всего строк выбрано: {{props.selectedItemsCount}}
        </template>
    </vue-bootstrap4-table>
</template>

<script>
    import VueBootstrap4Table from "vue-bootstrap4-table";

    export default {
        props: {
            rows: {
                type: Array,
                required: true
            },
            columns: {
                type: Array,
                required: true
            },
            onShow: {
                type: Function,
                required: true
            },
            onEdit: {
                type: Function,
                required: true
            },
            onDelete: {
                type: Function,
                required: true
            },
            namePermissionEdit: {
                type: String,
                required: true
            },
            namePermissionDelete: {
                type: String,
                required: true
            },
            namePermissionShow: {
                type: String,
                required: true
            }
        },
        data: () => ({
            config: {
                pagination: true,
                pagination_info: false,
                num_of_visibile_pagination_buttons: 7,
                per_page: 5,
                checkbox_rows: false,
                highlight_row_hover: true,
                rows_selectable: false,
                multi_column_sort: false,
                card_mode: false,
                selected_rows_info: true,
                show_refresh_button: false,
                show_reset_button: false,
                global_search: {
                    placeholder: "Введите, что хотите найти",
                    visibility: true,
                    init: {
                        value: ""
                    }
                }
            },
            classes: {
                table: "table-bordered table-striped"
            }
        }),
        components: {
            VueBootstrap4Table
        }
    }
</script>
