<template>
    <div class="alert alert-danger alert-dismissible col-12" role="alert" v-if="typeError === 'error'">
        <button class="close" type="button" data-dismiss="alert">×</button>
        <strong>Ошибка!</strong> {{ message }}
    </div>

    <div class="alert alert-success alert-dismissible col-12" role="alert" v-else-if="typeError === 'success'">
        <button class="close" type="button" data-dismiss="alert">×</button>
        <strong>Успешно!</strong> {{ message }}
    </div>

    <div class="alert alert-info alert-dismissible col-12" role="alert" v-else-if="typeError === 'info'">
        <button class="close" type="button" data-dismiss="alert">×</button>
        <strong>Информация!</strong> {{ message }}
    </div>

    <div class="alert alert-warning alert-dismissible col-12" role="alert" v-else-if="typeError === 'warning'">
        <button class="close" type="button" data-dismiss="alert">×</button>
        <strong>Предупреждение!</strong> {{ message }}
    </div>
</template>

<script>
    export default {
        props: {
            message: String,
            typeError: String
        }
    }
</script>
