<template>
    <div>
        <!-- Meta Title Field -->
        <div class="form-group row align-items-center">

            <label class="form-control-label col-sm-3 text-md-right" for="title">Meta title</label>
            <div class="col-sm-6 col-md-9">
                <input
                        :disabled="readOnly"
                        class="form-control"
                        id="title"
                        name="title"
                        placeholder="Введите Meta Title для SEO этой записи"
                        type="text"
                        v-model="seoFields.metaTitle"
                >
            </div>
        </div>

        <!-- Description Field -->
        <div class="form-group row align-items-center">
            <label class="form-control-label col-sm-3 text-md-right" for="description">
                Meta description
            </label>
            <div class="col-sm-6 col-md-9">
                    <textarea
                            :disabled="readOnly"
                            class="form-control"
                            id="description"
                            name="description"
                            placeholder="Введите Meta description рекомендуется не более 150 знаков"
                            v-model="seoFields.metaDescription"
                    />
            </div>
        </div>
        <!-- Keywords Field -->
        <div class="form-group row align-items-center">
            <label class="form-control-label col-sm-3 text-md-right" for="keywords">
                Meta keywords
            </label>
            <div class="col-sm-6 col-md-9">
                    <textarea
                            :disabled="readOnly"
                            class="form-control"
                            id="keywords"
                            name="keywords"
                            placeholder="Укажите keywords для SEO этой записи"
                            v-model="seoFields.metaKeywords"
                    />
            </div>
        </div>
        <!-- Canonical URL Field -->
        <div class="form-group row align-items-center">

            <label class="form-control-label col-sm-3 text-md-right" for="canonical_url">
                Canonical URL:
            </label>
            <div class="col-sm-6 col-md-9">
                <input
                        :disabled="readOnly"
                        class="form-control"
                        id="canonical_url"
                        name="canonical_url"
                        placeholder="Введите Canonical URL для этой статьи"
                        type="text"
                        v-model="seoFields.canonicalUri"
                >
            </div>
        </div>

        <div class="card-header">
            <h4>Реклама</h4>
        </div>

        <div class="form-group row">
            <label class="form-control-label col-sm-3 text-md-right" for="ya_direct">Яндекс.Директ:</label>
            <div class="col-sm-6 col-md-9">
                    <textarea
                            class="form-control"
                            id="ya_direct"
                            name="ya_direct"
                            placeholder="Введите данные от Яндекс.Директ"
                            v-model="seoFields.yandexDirectCode"
                    />
            </div>
        </div>
        <div class="card-header">
            <h4>Счётчики:</h4>
        </div>
        <div class="form-group row">
            <label class="form-control-label col-sm-3 text-md-right" for="google_tag_manager">
                Google Tag Manager:
            </label>
            <div class="col-sm-6 col-md-9">
                    <textarea
                            class="form-control"
                            id="google_tag_manager"
                            name="google_tag_manager"
                            placeholder="Введите код полученный от Google Tag Manager"
                            v-model="seoFields.googleTagManagerCode"
                    />
            </div>
        </div>
        <div class="form-group row">
            <label class="form-control-label col-sm-3 text-md-right" for="google_analytics">
                Google Analytics:
            </label>
            <div class="col-sm-6 col-md-9">
                    <textarea
                            class="form-control"
                            id="google_analytics"
                            name="google_analytics"
                            placeholder="Введите код счётчика полученный от Google Analytics"
                            v-model="seoFields.googleAnalyticsCode"
                    />
            </div>
        </div>
        <div class="form-group row">
            <label class="form-control-label col-sm-3 text-md-right" for="ya_metrica">
                Яндекс.Метрика:
            </label>
            <div class="col-sm-6 col-md-9">
                    <textarea
                            class="form-control"
                            id="ya_metrica"
                            name="ya_metrica"
                            placeholder="Введите код счётчика полученный от Яндекс.Метрика"
                            v-model="seoFields.yandexMetrikaCode"
                    />
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "SeoFields",
        props: {
            seoFields: {
                type: Object,
                required: true
            },
            readOnly: {
                type: Boolean,
                required: true,
                default: false
            }
        }
    }
</script>

<style scoped>

</style>