<template>
  <section class="section">
    <div class="container mt-5">
      <div class="row">
        <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
          <div class="login-brand">
            <img
              src="http://localhost:8000/assets/img/stisla-fill.svg"
              alt="logo"
              width="100"
              class="shadow-light rounded-circle">
          </div>

          <div class="simple-footer">
            Copyright &copy; ВПалитре {{ 2019 }}
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
    export default {
        name: "auth"
    }
</script>

<style scoped>

</style>
