<template>
    <div>
        <div class="main-wrapper">
            <div class="navbar-bg"></div>
            <Navbar/>
            <div class="main-sidebar">
                <Sidebar/>
            </div>
            <!-- Main Content -->
            <div class="main-content">
            </div>
            <Footer/>
        </div>
    </div>
</template>

<style>

</style>

<script>
    import Navbar from '../components/Shared/Header/Navbar';
    import Sidebar from '../components/Shared/Header/Sidebar';
    import Footer from '../components/Shared/Footer/Footer';

    export default {
        components: {
            Navbar,
            Sidebar,
            Footer
        }
    }
</script>
